/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/*only fo flat-ui free*/body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 62.006px /* 64px */;
}
h2,
.h2 {
  font-size: 51.996px /* 52px */;
}
h3,
.h3 {
  font-size: 39.998000000000005px /* 40px */;
}
h4,
.h4 {
  font-size: 28.994000000000003px /* 29px */;
}
h5,
.h5 {
  font-size: 28px /* 28px */;
}
h6,
.h6 {
  font-size: 23.996px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */

  line-height: 1.722169;
  /* 31px */

}
.lead {
  font-size: 28px;
  /* 28px */

  line-height: 1.4642745000000001;
  /* 41px */

  font-weight: 300;
}
small {
  font-size: 84%;
  /* 15px */

  line-height: 2.050846;
  /* 31px */

}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  box-shadow: none;
}
/* end only for flat-ui free*/
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
.navbar .subnav {
  display: none;
}
@media (max-width: 979px) {
  .navbar .nav-collapse {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -230px;
    width: 230px;
    padding: 25px 0;
    border-radius: 0;
    float: none;
    height: auto!important;
    overflow: auto!important;
    background: #222527;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: none;
  }
  .navbar .nav-collapse::-webkit-scrollbar {
    display: none;
  }
  .navbar .nav-collapse > * {
    margin: 30px 0 0!important;
  }
  .navbar .nav-collapse > *:first-child {
    margin-top: 0!important;
  }
  .navbar .nav-collapse .nav > li {
    margin: 0;
  }
  .navbar .nav-collapse .nav > li > a {
    display: block!important;
    margin: 0;
    padding: 12px 35px;
    border-bottom: 2px solid #24292d;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #5b5e61;
    text-transform: uppercase;
  }
  .navbar .nav-collapse .nav > li > a:hover,
  .navbar .nav-collapse .nav > li > a:focus,
  .navbar .nav-collapse .nav > li > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li.active > a {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li.active > a:hover,
  .navbar .nav-collapse .nav > li.active > a:focus,
  .navbar .nav-collapse .nav > li.active > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .subnav {
    display: block;
    list-style: none;
  }
  .navbar .nav-collapse .subnav li > a {
    display: block;
    margin: 0;
    padding: 7px 35px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #5b5e61;
    text-transform: capitalize;
  }
  .navbar .nav-collapse .subnav li > a:hover,
  .navbar .nav-collapse .subnav li > a:focus,
  .navbar .nav-collapse .subnav li > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .navbar-form,
  .navbar .nav-collapse .navbar-search {
    padding: 10px 35px;
    border-bottom: 0 none;
    border-top: 0 none;
    box-shadow: none;
  }
  .navbar .nav-collapse .navbar-form:focus,
  .navbar .nav-collapse .navbar-search:focus {
    outline: 0 none;
  }
  .has-header-dockbar {
    top: 66px !important;
  }
  body > header,
  body > section,
  body > div,
  body > footer {
    -webkit-backface-visibility: hidden;
    -webkit-transition: left 0.333s;
    -moz-transition: left 0.333s;
    -o-transition: left 0.333s;
    transition: left 0.333s;
    left: 0;
  }
  .navbar .nav-collapse {
    -webkit-backface-visibility: hidden;
    -webkit-transition: right 0.333s;
    -moz-transition: right 0.333s;
    -o-transition: right 0.333s;
    transition: right 0.333s;
  }
  .nav-visible body > header,
  .nav-visible body > section,
  .nav-visible body > div,
  .nav-visible body > footer {
    left: -230px;
  }
  .nav-visible .navbar .nav-collapse {
    right: 0!important;
    visibility: visible;
  }
}
@media (max-width: 767px) {
  .navbar-fixed-top .navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
@media (max-width: 768px) {
  .background {
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.nav-visible .navbar .nav-collapse .nav > li > a:hover,
.nav-visible .navbar .nav-collapse .nav > li > li a:focus {
  background-color: transparent;
}
.nav-visible .nav-collapse .navbar-form,
.nav-visible .nav-collapse .navbar-search {
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
  margin: 10px 0;
  padding: 10px 15px;
}
.nav-visible .nav-collapse .navbar-form a.btn,
.nav-visible .nav-collapse .navbar-search a.btn {
  border-color: white;
  color: white;
}
.nav-visible .nav-collapse .navbar-form a.btn:hover,
.nav-visible .nav-collapse .navbar-search a.btn:hover,
.nav-visible .nav-collapse .navbar-form a.btn:focus,
.nav-visible .nav-collapse .navbar-search a.btn:focus {
  color: #7f8c8d;
  background-color: white;
}
/* header */
/**
 * Header 1 stylesheet  
 * */
.header-1 {
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
.header-1 .brand {
  padding-left: 0;
  font-size: 25px;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: #ffffff;
}
.header-1 .brand:hover,
.header-1 .brand:focus,
.header-1 .brand.active {
  color: #ffffff;
}
.header-1 .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.header-1 > .container {
  position: relative;
}
.header-1 .navbar {
  position: absolute;
  z-index: 2;
  top: 45px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.header-1 .navbar.navbar-fixed-top {
  position: fixed;
  margin: 0 auto;
}
.header-1 .navbar a {
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.25s color;
  -moz-transition: 0.25s color;
  -o-transition: 0.25s color;
  transition: 0.25s color;
}
.header-1 .navbar .navbar-inner {
  background: none;
}
.header-1 .navbar .nav > li {
  margin-left: 20px;
}
.header-1 .navbar .nav > li:first-child {
  margin-left: 0;
}
.header-1 .navbar .nav > li > a {
  padding: 31px 0 27px;
  font-size: 13px;
  font-weight: normal;
  font-weight: 500;
  letter-spacing: 2px;
  color: #ffffff;
}
.header-1 .navbar .nav > li > a:hover,
.header-1 .navbar .nav > li > a:focus,
.header-1 .navbar .nav > li > a.active {
  color: rgba(0, 0, 0, 0.4);
}
.header-1 .navbar .nav > li.active > a {
  color: rgba(0, 0, 0, 0.4);
}
.header-1 .navbar .nav > li.active > a:hover,
.header-1 .navbar .nav > li.active > a:focus,
.header-1 .navbar .nav > li.active > a.active {
  color: rgba(0, 0, 0, 0.4);
}
.header-1 .navbar .btn-navbar {
  margin: 28px 0 17px;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  background: none;
  color: #ffffff;
}
.header-1 .navbar .btn-navbar:hover,
.header-1 .navbar .btn-navbar:focus,
.header-1 .navbar .btn-navbar.active {
  color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 979px) {
  .header-1 .navbar .nav-collapse {
    padding-top: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -230px;
    width: 230px;
    height: auto!important;
    padding: 25px 0;
    border-radius: 0;
    float: none;
    overflow: auto!important;
    background: #222527;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .header-1 .navbar .nav-collapse::-webkit-scrollbar {
    display: none;
  }
  .header-1 .navbar .nav-collapse > * {
    margin: 30px 0 0!important;
  }
  .header-1 .navbar .nav-collapse > *:first-child {
    margin-top: 0!important;
  }
  .header-1 .navbar .nav-collapse .nav > li {
    margin: 0;
  }
  .header-1 .navbar .nav-collapse .nav > li > a {
    display: block!important;
    margin: 0;
    padding: 12px 35px;
    border-bottom: 2px solid #24292d;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #5b5e61;
    text-transform: uppercase;
  }
  .header-1 .navbar .nav-collapse .nav > li > a:hover,
  .header-1 .navbar .nav-collapse .nav > li > a:focus,
  .header-1 .navbar .nav-collapse .nav > li > a.active {
    color: #ffffff;
  }
  .header-1 .navbar .nav-collapse .nav > li.active > a {
    color: #ffffff;
  }
  .header-1 .navbar .nav-collapse .nav > li.active > a:hover,
  .header-1 .navbar .nav-collapse .nav > li.active > a:focus,
  .header-1 .navbar .nav-collapse .nav > li.active > a.active {
    color: #ffffff;
  }
  .header-1 .navbar .nav-collapse .subnav {
    display: block;
    list-style: none;
  }
  .header-1 .navbar .nav-collapse .subnav li > a {
    display: block;
    margin: 0;
    padding: 7px 35px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #5b5e61;
    text-transform: capitalize;
  }
  .header-1 .navbar .nav-collapse .subnav li > a:hover,
  .header-1 .navbar .nav-collapse .subnav li > a:focus,
  .header-1 .navbar .nav-collapse .subnav li > a.active {
    color: #ffffff;
  }
  .header-1 .navbar .nav-collapse .navbar-form,
  .header-1 .navbar .nav-collapse .navbar-search {
    padding: 10px 35px;
  }
  .header-1 .navbar .btn-navbar {
    background-image: url("../../../common-files/icons/menu-icon.png");
    width: 17px;
    height: 12px;
  }
  .header-1 .navbar .btn-navbar:before {
    content: '';
  }
}
.header-1-sub {
  position: relative;
  z-index: 50;
  left: 0;
  width: 100%;
  height: 500px;
  padding: 0;
  overflow: hidden;
  background: black;
  color: white;
}
@media (max-width: 480px) {
  .header-1-sub {
    height: 420px;
  }
}
.header-1-sub .container {
  position: relative;
}
@media (max-width: 767px) {
  .header-1-sub .container {
    margin-right: 20px;
    margin-left: 20px;
  }
}
.header-1-sub h3 {
  margin: 0 0 18px 0;
  font-size: 36px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
}
@media (max-width: 600px) {
  .header-1-sub h3 {
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
  }
}
@media (max-width: 480px) {
  .header-1-sub h3 {
    font-size: 26px;
    font-weight: normal;
    color: #ffffff;
    margin: 0 0 24px 0;
  }
}
.header-1-sub .lead {
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0;
}
@media (max-width: 600px) {
  .header-1-sub .lead {
    font-size: 26px;
    font-weight: normal;
    color: #ffffff;
  }
}
@media (max-width: 480px) {
  .header-1-sub .lead {
    font-size: 22px;
    font-weight: normal;
    color: #ffffff;
  }
}
.header-1-sub .pt-perspective {
  position: relative;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.header-1-sub .pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.header-1-sub .pt-page-current,
.header-1-sub .no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.header-1-sub .pt-page-ontop {
  z-index: 999;
}
.header-1-sub .page-transitions * {
  line-height: normal;
}
.header-1-sub .page-transitions .background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3 !important;
  filter: alpha(opacity=10);
}
.header-1-sub .page-transitions .caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 130px;
}
@media (max-width: 480px) {
  .header-1-sub .page-transitions .caption {
    bottom: 83px;
  }
}
.header-1-sub .page-transitions .controls > * {
  position: absolute;
  left: 0;
  top: 415px;
  z-index: 1000;
  width: 20px;
  overflow: hidden;
  text-decoration: none;
  font-size: 18px;
  color: #7f8c8d;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  -webkit-backface-visibility: hidden;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}
.header-1-sub .page-transitions .controls > *:hover,
.header-1-sub .page-transitions .controls > *:focus,
.header-1-sub .page-transitions .controls > *.active {
  color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 480px) {
  .header-1-sub .page-transitions .controls > * {
    top: 363px;
  }
}
.header-1-sub .page-transitions .controls > *.control-next {
  left: 30px;
}
/* content */
/**
 * Content 4 stylesheet  
 * */
.content-4 {
  padding-top: 130px;
  padding-bottom: 120px;
  position: relative;
}
.content-4 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 24px;
  font-weight: 300;
}
.content-4 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 26px;
}
.content-4 .features h6 {
  margin: 0 0 13px;
  font-size: 24px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: none;
}
.content-4 .features p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-4 .features > [class*="span"] {
  position: relative;
  padding-top: 180px;
  padding-bottom: 50px;
}
.content-4 .features > [class*="span"] > img:first-child {
  position: absolute;
  left: 0;
  top: 30px;
}
.content-4 .features:last-child > [class*="span"],
.content-4 .features.last > [class*="span"] {
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .content-4 .features > [class*="span"],
  .content-4 .features:last-child > [class*="span"],
  .content-4 .features.last > [class*="span"] {
    padding-top: 150px;
    padding-bottom: 20px;
  }
  .content-4 .features:last-child > [class*="span"]:last-child,
  .content-4 .features.last > [class*="span"]:last-child,
  .content-4 .features:last-child > [class*="span"].last,
  .content-4 .features.last > [class*="span"].last {
    padding-bottom: 0;
  }
}
.content-25 {
  position: relative;
  padding: 95px 0;
}
@media (max-width: 767px) {
  .content-25 {
    padding: 40px 20px;
  }
  .content-25 .svg,
  .content-25 .nosvg {
    display: block;
    text-align: center;
    float: none;
    margin-top: 45px;
  }
}
.content-25 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-25 p {
  font-size: 18px;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 45px;
  font-weight: normal;
}
.content-25 svg,
.content-25 .svg {
  max-width: 100%;
}
.content-25 .nosvg {
  display: none;
}
/* footer */
/**
 * Footer 6 stylesheet  
 * */
.footer-6 {
  padding-top: 110px;
  padding-bottom: 110px;
  color: #7f8c8d;
}
.footer-6 a {
  font-weight: normal;
}
@media (max-width: 480px) {
  .footer-6 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
.footer-6 .brand {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 18px;
}
.footer-6 .brand:hover,
.footer-6 .brand:focus {
  color: #1abc9c;
}
.footer-6 h6 {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
}
@media (max-width: 767px) {
  .footer-6 h6 {
    margin: 0 0 5px;
  }
}
.footer-6 nav ul {
  list-style: none;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: inherit;
}
.footer-6 nav ul li {
  margin-bottom: 8px;
}
.footer-6 nav ul li a {
  color: #7f8c8d;
}
.footer-6 nav ul li a:hover,
.footer-6 nav ul li a:focus {
  color: #1abc9c;
}
@media (max-width: 480px) {
  .footer-6 nav h6 {
    margin: 0 0 12px;
  }
}
@media (max-width: 767px) {
  .footer-6 nav {
    *zoom: 1;
  }
  .footer-6 nav:before,
  .footer-6 nav:after {
    display: table;
    content: "";
  }
  .footer-6 nav:after {
    clear: both;
  }
  .footer-6 nav:before,
  .footer-6 nav:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .footer-6 nav:after {
    clear: both;
  }
  .footer-6 nav .span2 {
    float: left;
    width: 30%;
    margin-left: 5%;
  }
  .footer-6 nav .span2:first-child {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .footer-6 nav {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .footer-6 .input-append {
    display: block;
    margin: 0 47px 0 0;
  }
}
.footer-6 .input-append input[type="text"] {
  width: 160px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  -moz-transition: background-color 0.25s, border-color 0.25s;
  -o-transition: background-color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, border-color 0.25s;
}
@media (min-width: 1200px) {
  .footer-6 .input-append input[type="text"] {
    width: 211px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .footer-6 .input-append input[type="text"] {
    width: 106px;
  }
}
@media (max-width: 767px) {
  .footer-6 .input-append input[type="text"] {
    width: 100%;
  }
}
.footer-6 .input-append input[type="text"]:hover {
  border-color: #cacfd2;
}
.footer-6 .input-append input[type="text"]:focus {
  border-color: #1abc9c;
}
.footer-6 .social-btns {
  white-space: nowrap;
}
.footer-6 .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 20px;
  font-weight: normal;
  color: #1abc9c;
  width: 20px;
  height: 25px;
  overflow: hidden;
  text-align: center;
}
@media (max-width: 480px) {
  .footer-6 .social-btns > * {
    margin-top: 15px;
    margin-bottom: 7px;
  }
}
.footer-6 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-6 .social-btns > * > * {
  display: block;
  top: 0;
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-6 .social-btns > * > *:first-child {
  color: #bdc3c7;
}
.footer-6 .social-btns > *:hover > * {
  top: -100%;
}
.footer-6 .social-btns .fui-twitter:first-child {
  margin-top: 2px;
}
@media (max-width: 767px) {
  .footer-6 [class*="span"] {
    margin-top: 15px;
  }
  .footer-6 .row:first-child {
    margin-top: -15px;
  }
}
@media (max-width: 480px) {
  .footer-6 .control-group {
    margin-bottom: 0;
  }
  .footer-6 .control-group .input-append {
    margin-bottom: 0;
  }
}
.content-4,
.footer-6 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.header-1-sub .pt-page-1 .background {
  background-image: url('../img/bg.jpg') !important;
  opacity: 0.5;
  filter: alpha(opacity=50);
  background-position: 50% 30%;
}
.header-1-sub .pt-page-2 .background {
  background-image: url('../img/img-2.jpg');
  opacity: 0.5;
  filter: alpha(opacity=50);
  background-position: 50% 30%;
}
.header-1-sub .pt-page-3 .background {
  background-image: url('../img/img-3.jpg');
  opacity: 0.5;
  filter: alpha(opacity=50);
  background-position: 50% 30%;
}

input[type=email] {
    width:100%;
}

.thank-you {
    background: #ffffff;
    padding: 20px;
    font-size: 14pt;
}

.subline {
  font-size: 33px;
}