/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/*only fo flat-ui free*/body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 62.006px /* 64px */;
}
h2,
.h2 {
  font-size: 51.996px /* 52px */;
}
h3,
.h3 {
  font-size: 39.998000000000005px /* 40px */;
}
h4,
.h4 {
  font-size: 28.994000000000003px /* 29px */;
}
h5,
.h5 {
  font-size: 28px /* 28px */;
}
h6,
.h6 {
  font-size: 23.996px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */

  line-height: 1.722169;
  /* 31px */

}
.lead {
  font-size: 28px;
  /* 28px */

  line-height: 1.4642745000000001;
  /* 41px */

  font-weight: 300;
}
small {
  font-size: 84%;
  /* 15px */

  line-height: 2.050846;
  /* 31px */

}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  box-shadow: none;
}
/* end only for flat-ui free*/
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
@media (max-width: 768px) {
  .background {
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.nav-visible .navbar .nav-collapse .nav > li > a:hover,
.nav-visible .navbar .nav-collapse .nav > li > li a:focus {
  background-color: transparent;
}
.nav-visible .nav-collapse .navbar-form,
.nav-visible .nav-collapse .navbar-search {
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
  margin: 10px 0;
  padding: 10px 15px;
}
.nav-visible .nav-collapse .navbar-form a.btn,
.nav-visible .nav-collapse .navbar-search a.btn {
  border-color: white;
  color: white;
}
.nav-visible .nav-collapse .navbar-form a.btn:hover,
.nav-visible .nav-collapse .navbar-search a.btn:hover,
.nav-visible .nav-collapse .navbar-form a.btn:focus,
.nav-visible .nav-collapse .navbar-search a.btn:focus {
  color: #7f8c8d;
  background-color: white;
}
.pt-perspective {
  position: relative;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
  overflow: hidden;
}
.pt-page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.pt-page-current,
.no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.pt-page-ontop {
  z-index: 999;
}
/**
 * Blog 1 stylesheet  
 * */
.blog-1 {
  padding-bottom: 130px;
}
.blog-1 .box-icon {
  margin: 0 auto 35px;
  text-align: center;
  font-size: 16px;
}
.blog-1 .box-icon > * {
  display: inline-block;
  vertical-align: middle;
}
.blog-1 .box-icon .icon {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 93px;
  height: 93px;
  margin: 0 50px;
  border: 6px solid #fff55b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  font-size: 48px;
  line-height: 81px;
  color: #fff55b;
}
.blog-1 .page-transitions {
  background: #000;
  height: 380px;
}
@media (max-width: 767px) {
  .blog-1 .page-transitions {
    margin-right: -20px;
    margin-left: -20px;
  }
}
.blog-1 .page-transitions,
.blog-1 .page-transitions h1,
.blog-1 .page-transitions .h1,
.blog-1 .page-transitions h2,
.blog-1 .page-transitions .h2,
.blog-1 .page-transitions h3,
.blog-1 .page-transitions .h3,
.blog-1 .page-transitions h4,
.blog-1 .page-transitions .h4,
.blog-1 .page-transitions h5,
.blog-1 .page-transitions .h5,
.blog-1 .page-transitions h6,
.blog-1 .page-transitions .h6 {
  color: #fff;
}
.blog-1 .page-transitions a {
  color: #ffffff;
}
.blog-1 .page-transitions a:hover,
.blog-1 .page-transitions a:focus,
.blog-1 .page-transitions a.active {
  color: rgba(0, 0, 0, 0.4);
}
.blog-1 .page-transitions .hero-unit {
  margin: 0;
  padding: 0;
  background: transparent;
}
.blog-1 .page-transitions .hero-unit h1 {
  margin: 0 0 2px;
  font-size: 25px;
  line-height: normal;
}
.blog-1 .page-transitions .hero-unit p {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
}
.blog-1 .pt-page {
  padding-top: 145px;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .blog-1 .pt-page {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.blog-1 [class*="pt-control-"] {
  display: inline-block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fff55b;
}
.blog-1 .pt-first .pt-control-prev,
.blog-1 .pt-last .pt-control-next {
  background: none;
  border: 3px solid #ebedee;
}
.blog-1 .pt-first .bg-peter-river .pt-control-prev,
.blog-1 .pt-last .bg-peter-river .pt-control-next {
  background: none;
  border: 3px solid #5fccff;
}
.blog-1 .pt-first .bg-turquoise .pt-control-prev,
.blog-1 .pt-last .bg-turquoise .pt-control-next {
  background: none;
  border: 3px solid #1fe0ba;
}
.blog-1 .title {
  margin-bottom: 85px;
  padding: 88px 0 76px;
  border-bottom: 2px solid #ebedee;
  text-align: center;
}
@media (max-width: 767px) {
  .blog-1 .title {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.blog-1 .title h3 {
  font-size: 30px;
  color: #2c3e50;
  line-height: 36px;
  letter-spacing: 0;
  margin: 0;
  font-weight: 300;
}
.blog-1 .title .submitted {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.19em;
  color: #bdc3c7;
  margin-top: 18px;
}
.blog-1 .links {
  padding-bottom: 45px;
  position: relative;
  margin-top: 8px;
}
.blog-1 .links:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 48px;
  border-top: 3px solid #3498db;
}
.blog-1 .links,
.blog-1 .links * {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.19em;
  color: #34495e;
}
.blog-1 .links > * + * {
  margin-top: 63px;
}
.blog-1 .links h6 {
  margin: 0 0 15px;
  text-transform: none;
}
.blog-1 .links a {
  color: #bdc3c7;
}
.blog-1 .links a:hover,
.blog-1 .links a:focus,
.blog-1 .links a.active {
  color: #979c9f;
}
.blog-1 .links ul,
.blog-1 .links ol {
  list-style: none;
  display: block;
  margin: 0;
}
.blog-1 .links li {
  display: block;
}
.blog-1 .links li + li {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .blog-1 .links {
    display: none;
  }
}
.blog-1 p {
  margin: 0;
}
.blog-1 p + p {
  margin-top: 30px;
}
.blog-1 .boxes {
  *zoom: 1;
  margin: 70px 0;
}
.blog-1 .boxes:before,
.blog-1 .boxes:after {
  display: table;
  content: "";
}
.blog-1 .boxes:after {
  clear: both;
}
.blog-1 .boxes:before,
.blog-1 .boxes:after {
  display: table;
  content: "";
  line-height: 0;
}
.blog-1 .boxes:after {
  clear: both;
}
.blog-1 .boxes [class*="box-"] {
  background-color: #ecf0f1;
}
.blog-1 .boxes .box-1 {
  *zoom: 1;
  height: 340px;
}
.blog-1 .boxes .box-1:before,
.blog-1 .boxes .box-1:after {
  display: table;
  content: "";
}
.blog-1 .boxes .box-1:after {
  clear: both;
}
.blog-1 .boxes .box-1:before,
.blog-1 .boxes .box-1:after {
  display: table;
  content: "";
  line-height: 0;
}
.blog-1 .boxes .box-1:after {
  clear: both;
}
.blog-1 .boxes .box-2,
.blog-1 .boxes .box-3,
.blog-1 .boxes .box-4 {
  margin-top: 8px;
  float: left;
  height: 190px;
  width: 308px;
}
.blog-1 .boxes .box-3,
.blog-1 .boxes .box-4 {
  margin-left: 8px;
}
@media (min-width: 1200px) {
  .blog-1 .boxes .box-2,
  .blog-1 .boxes .box-3,
  .blog-1 .boxes .box-4 {
    width: 384.666px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  .blog-1 .boxes .box-2,
  .blog-1 .boxes .box-3,
  .blog-1 .boxes .box-4 {
    width: 236px;
  }
}
@media (max-width: 767px) {
  .blog-1 .boxes .box-2,
  .blog-1 .boxes .box-3,
  .blog-1 .boxes .box-4 {
    width: auto;
    margin-left: 0;
    float: none;
  }
}
/**
 * Blog 2 stylesheet  
 * */
.blog-2 {
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
  background-color: #ecf0f1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #35495d;
}
@media (max-width: 768px) {
  .blog-2 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.blog-2 h3 {
  margin: 0 0 20px;
  font-size: 35px;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}
.blog-2 h3 img {
  display: block;
  margin-bottom: 80px;
}
.blog-2 h4 {
  margin: 0 0 24px;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: 300;
}
.blog-2 h6 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 30px;
  text-transform: none;
}
.blog-2 p {
  line-height: 1.85;
  margin: 0;
  font-size: 16px;
}
.blog-2 p + p {
  margin-top: 20px;
}
.blog-2 > * {
  position: relative;
}
.blog-2 .promo {
  margin: -20px 0 49px;
}
.blog-2 .btn {
  padding: 11px 22px;
  margin-top: 24px;
}
.blog-2 .background {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.blog-2 .background > .container {
  height: 100%;
}
.blog-2 .background .span4 {
  position: absolute;
  height: 100%;
}
.blog-2 .background .span4 > div {
  position: absolute;
  right: 0;
  height: 100%;
  width: 1000px;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.blog-2 .background .span4 > div img {
  height: 100% !important;
  width: auto;
}
@media (max-width: 480px) {
  .blog-2 h3 img {
    margin-bottom: 30px;
  }
  .blog-2 h4 {
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 45px;
  }
}
/**
 * Blog 3 stylesheet  
 * */
.blog-3 {
  padding-top: 130px;
  padding-bottom: 130px;
}
.blog-3 p {
  margin: 0;
}
.blog-3 p + p {
  margin-top: 30px;
}
.blog-3 h6 {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 0 0 25px;
  text-transform: none;
}
.blog-3 .title {
  margin-bottom: 84px;
  text-align: center;
}
.blog-3 .title h3 {
  font-size: 35px;
  margin: 0;
  font-weight: 300;
  letter-spacing: -1px;
}
.blog-3 .title .submitted {
  font-size: 16px;
  color: #bdc3c7;
  margin-top: 15px;
}
.blog-3 .title img {
  display: block;
  margin: 0 auto 37px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.blog-3 .img {
  height: 380px;
  margin: 110px 0;
  background: url('../../../common-files/img/Brazil_002.png') 50% 80% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 767px) {
  .blog-3 .img {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.blog-3 .quote {
  position: relative;
  margin-bottom: 35px;
  font-size: 37px;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
  letter-spacing: -1px;
  font-weight: 300;
}
.blog-3 .quote:before {
  content: url('../../../common-files/icons/quote-up.png');
  position: absolute;
  top: -17px;
  left: -40px;
}
@media (max-width: 767px) {
  .blog-3 .quote {
    margin-left: 40px;
    font-size: 29px;
    line-height: 38px;
  }
}
.blog-3 .promo {
  margin-bottom: 70px;
}
.blog-3 .links {
  margin-top: 76px;
}
.blog-3 .links,
.blog-3 .links * {
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bdc3c7;
}
.blog-3 .links h6 {
  margin: 0 0 23px;
  letter-spacing: 0.19em;
  font-size: 12px;
  font-weight: 500;
}
.blog-3 .links a {
  color: #1abc9c;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.5;
}
.blog-3 .links a:hover,
.blog-3 .links a:focus,
.blog-3 .links a.active {
  color: #15967d;
}
/**
 * Blog 4 stylesheet  
 * */
.blog-4 {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #ffffff;
}
.blog-4 p {
  margin: 0;
}
.blog-4 p + p {
  margin-top: 30px;
}
.blog-4 h3 {
  font-size: 35px;
  margin: 0 0 35px;
}
.blog-4 h6 {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 0 0 25px;
  text-transform: none;
}
.blog-4 .img {
  height: 242px;
  width: 538px;
  margin: 70px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  display: inline-block;
}
.blog-4 .img > img {
  display: block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.blog-4 .quote {
  position: relative;
  margin: 60px 0 55px 40px;
  font-size: 37px;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
  font-weight: 300;
  letter-spacing: -1px;
}
.blog-4 .quote:before {
  content: url('../../../common-files/icons/quote-up.png');
  position: absolute;
  top: -17px;
  left: -40px;
}
@media (max-width: 767px) {
  .blog-4 .quote {
    font-size: 29px;
    line-height: 38px;
  }
}
.blog-4 .tags {
  margin-top: 70px;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.19em;
  color: #bdc3c7;
}
.blog-4 .tags a {
  color: #bdc3c7;
}
.blog-4 .tags a:hover,
.blog-4 .tags a:focus,
.blog-4 .tags a.active {
  color: #979c9f;
}
.blog-4 .tags ul,
.blog-4 .tags ol {
  list-style: none;
  display: block;
  margin: 0;
}
.blog-4 .tags li {
  display: inline-block;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .blog-4 .tags {
    display: none;
  }
}
.blog-4 .related-articles {
  margin-top: 82px;
  font-size: 15px;
  color: #bdc3c7;
}
.blog-4 .related-articles h6 {
  font-size: 19px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 0 0 30px;
}
.blog-4 .related-articles ul,
.blog-4 .related-articles ol {
  list-style: none;
  display: block;
  margin: 0;
}
.blog-4 .related-articles li {
  display: block;
  line-height: 1.45;
}
.blog-4 .related-articles li + li {
  margin-top: 30px;
}
.blog-4 .related-articles a {
  color: #1abc9c;
  font-size: 17px;
  font-weight: 500;
}
.blog-4 .related-articles a:hover,
.blog-4 .related-articles a:focus,
.blog-4 .related-articles a.active {
  color: #15967d;
}
.blog-4 .related-articles a + div {
  margin-top: 4px;
}
@media (max-width: 767px) {
  .blog-4 .related-articles {
    margin-top: 60px;
  }
}
/**
 * Blog 5 stylesheet  
 * */
.blog-5 {
  padding-top: 130px;
  padding-bottom: 130px;
}
.blog-5 .box-icon {
  margin: 0 auto 0;
  text-align: center;
  font-size: 16px;
}
.blog-5 .box-icon > * {
  display: inline-block;
  vertical-align: middle;
}
.blog-5 .box-icon .icon {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 93px;
  height: 93px;
  margin: 0 50px;
  border: 6px solid #fff55b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  font-size: 48px;
  line-height: 81px;
  color: #fff55b;
}
.blog-5 .page-transitions {
  background: #000;
  height: 380px;
  margin-bottom: 110px;
}
@media (max-width: 767px) {
  .blog-5 .page-transitions {
    margin-right: -20px;
    margin-left: -20px;
  }
}
.blog-5 .page-transitions,
.blog-5 .page-transitions h1,
.blog-5 .page-transitions .h1,
.blog-5 .page-transitions h2,
.blog-5 .page-transitions .h2,
.blog-5 .page-transitions h3,
.blog-5 .page-transitions .h3,
.blog-5 .page-transitions h4,
.blog-5 .page-transitions .h4,
.blog-5 .page-transitions h5,
.blog-5 .page-transitions .h5,
.blog-5 .page-transitions h6,
.blog-5 .page-transitions .h6 {
  color: #fff;
}
.blog-5 .page-transitions a {
  color: #ffffff;
}
.blog-5 .page-transitions a:hover,
.blog-5 .page-transitions a:focus,
.blog-5 .page-transitions a.active {
  color: rgba(0, 0, 0, 0.4);
}
.blog-5 .page-transitions .hero-unit {
  margin: 0;
  padding: 0;
  background: transparent;
}
.blog-5 .page-transitions .hero-unit h1 {
  margin: 0 0 5px;
  font-size: 25px;
  line-height: normal;
}
.blog-5 .page-transitions .hero-unit p {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
}
.blog-5 .pt-page {
  padding-top: 145px;
  padding-bottom: 145px;
}
@media (max-width: 767px) {
  .blog-5 .pt-page {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.blog-5 [class*="pt-control-"] {
  display: inline-block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fff55b;
}
.blog-5 .pt-first .pt-control-prev,
.blog-5 .pt-last .pt-control-next {
  background: none;
  border: 3px solid rgba(0, 0, 0, 0.2);
}
.blog-5 .title {
  margin-bottom: 90px;
  text-align: center;
}
.blog-5 .title h3 {
  font-size: 40px;
  margin: 0;
}
.blog-5 .title .submitted {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.19em;
  color: #bdc3c7;
  margin-top: 35px;
}
.blog-5 .title .submitted > * {
  margin: 0 15px;
  white-space: nowrap;
}
.blog-5 .title .submitted [class*="fui-"] {
  font-size: 16px;
  vertical-align: middle;
  margin: -3px 10px 0 0;
}
@media (max-width: 480px) {
  .blog-5 .title .submitted {
    display: block;
    text-align: left;
  }
  .blog-5 .title .submitted > * {
    display: block;
  }
  .blog-5 .title .submitted > * + * {
    margin-top: 10px;
  }
}
.blog-5 p {
  margin: 0;
}
.blog-5 p + p {
  margin-top: 30px;
}
.blog-5 .lead {
  margin: 0;
  color: #34495e;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.7;
}
.blog-5 .lead + p {
  margin-top: 65px;
}
.blog-5 .quote {
  position: relative;
  margin: 120px 0;
  padding: 80px 0 90px;
  color: #2c3e50;
  background: #f5f6f6;
  font-size: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  letter-spacing: -1px;
}
.blog-5 .quote:before {
  content: url('../../../common-files/icons/quote-down.png');
  display: block;
  margin: 0 auto 35px;
  text-align: center;
}
.blog-5 .quote .author {
  margin-top: 35px;
  font-size: 18px;
  font-weight: 500;
  color: #2980b9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0;
}
@media (max-width: 767px) {
  .blog-5 .quote {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.blog-5 .boxes {
  *zoom: 1;
  margin: 115px 0 125px;
}
.blog-5 .boxes:before,
.blog-5 .boxes:after {
  display: table;
  content: "";
}
.blog-5 .boxes:after {
  clear: both;
}
.blog-5 .boxes:before,
.blog-5 .boxes:after {
  display: table;
  content: "";
  line-height: 0;
}
.blog-5 .boxes:after {
  clear: both;
}
.blog-5 .boxes [class*="box-"] {
  background-color: #ecf0f1;
}
.blog-5 .boxes .box-1 {
  *zoom: 1;
  height: 380px;
}
.blog-5 .boxes .box-1:before,
.blog-5 .boxes .box-1:after {
  display: table;
  content: "";
}
.blog-5 .boxes .box-1:after {
  clear: both;
}
.blog-5 .boxes .box-1:before,
.blog-5 .boxes .box-1:after {
  display: table;
  content: "";
  line-height: 0;
}
.blog-5 .boxes .box-1:after {
  clear: both;
}
.blog-5 .boxes .box-2,
.blog-5 .boxes .box-3,
.blog-5 .boxes .box-4 {
  margin-top: 8px;
  float: left;
  height: 190px;
  width: 308px;
}
.blog-5 .boxes .box-3,
.blog-5 .boxes .box-4 {
  margin-left: 8px;
}
@media (min-width: 1200px) {
  .blog-5 .boxes .box-2,
  .blog-5 .boxes .box-3,
  .blog-5 .boxes .box-4 {
    width: 384.666px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  .blog-5 .boxes .box-2,
  .blog-5 .boxes .box-3,
  .blog-5 .boxes .box-4 {
    width: 236px;
  }
}
@media (max-width: 767px) {
  .blog-5 .boxes .box-2,
  .blog-5 .boxes .box-3,
  .blog-5 .boxes .box-4 {
    width: auto;
    margin-left: 0;
    float: none;
  }
}
.blog-5 .tags {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.19em;
  text-align: center;
  color: #bdc3c7;
}
.blog-5 .tags a {
  color: #bdc3c7;
}
.blog-5 .tags a:hover,
.blog-5 .tags a:focus,
.blog-5 .tags a.active {
  color: #979c9f;
}
.blog-5 .tags ul,
.blog-5 .tags ol {
  list-style: none;
  display: block;
  margin: 0;
}
.blog-5 .tags li {
  display: inline-block;
  margin: 0 10px;
}
