/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/*only fo flat-ui free*/body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 62.006px /* 64px */;
}
h2,
.h2 {
  font-size: 51.996px /* 52px */;
}
h3,
.h3 {
  font-size: 39.998000000000005px /* 40px */;
}
h4,
.h4 {
  font-size: 28.994000000000003px /* 29px */;
}
h5,
.h5 {
  font-size: 28px /* 28px */;
}
h6,
.h6 {
  font-size: 23.996px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */

  line-height: 1.722169;
  /* 31px */

}
.lead {
  font-size: 28px;
  /* 28px */

  line-height: 1.4642745000000001;
  /* 41px */

  font-weight: 300;
}
small {
  font-size: 84%;
  /* 15px */

  line-height: 2.050846;
  /* 31px */

}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  box-shadow: none;
}
/* end only for flat-ui free*/
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
@media (max-width: 768px) {
  .background {
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.nav-visible .navbar .nav-collapse .nav > li > a:hover,
.nav-visible .navbar .nav-collapse .nav > li > li a:focus {
  background-color: transparent;
}
.nav-visible .nav-collapse .navbar-form,
.nav-visible .nav-collapse .navbar-search {
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
  margin: 10px 0;
  padding: 10px 15px;
}
.nav-visible .nav-collapse .navbar-form a.btn,
.nav-visible .nav-collapse .navbar-search a.btn {
  border-color: white;
  color: white;
}
.nav-visible .nav-collapse .navbar-form a.btn:hover,
.nav-visible .nav-collapse .navbar-search a.btn:hover,
.nav-visible .nav-collapse .navbar-form a.btn:focus,
.nav-visible .nav-collapse .navbar-search a.btn:focus {
  color: #7f8c8d;
  background-color: white;
}
.ribbon {
  display: block;
  position: relative;
  margin: 0;
  padding: 0 10px!important;
  background: #e74c3c;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}
.ribbon:before,
.ribbon:after {
  display: block;
  position: absolute;
  line-height: 0;
}
.ribbon:before {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAgCAYAAADe+2JdAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAIcbAACL/wAA/RMAAIWJAACNJgAA5z0AADj/AAAeyY4zee8AAACLSURBVHja7M6xCcIAEAXQZwwpJI0W6V3AVgdwKrF3CWdwAhFcIjhDKiGCoDGxSVAxyQT5zcG94+5G+X4GS+zqOlEnxAKn72aTANs2aHCtIwGmfWjAAfsxhPIWeaSJVxaris98WN4i9/Nc9Rz/r32kSStA8Mri7oeqIsj7vj324QbXLrxghQN+TrwHABFIH/AzT59nAAAAAElFTkSuQmCC');
  left: -7px;
  bottom: 0;
}
.ribbon:after {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAIcbAACL/wAA/RMAAIWJAACNJgAA5z0AADj/AAAeyY4zee8AAACMSURBVHja7MwxDoJAFIThf9fVAo2x4A5cwprKytPY2HoJS6/hCbwBoaKi0WxYoyYg+ywICQK9jdPNl/dG5Zu1AA44Azsg1TRZAlvgAkQttlkBhz4CxGO4GEP++Cs0yc2ilWI+NYRBwGyim0svwr2syApHWdff716E6/M13HxUbztAL3I0nW6BE7D/DADKLyXavmqdkAAAAABJRU5ErkJggg==');
  right: -5px;
  top: 0;
}
/**
 * Price 1 stylesheet  
 * */
.price-1 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.price-1 .plan {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #ebedee;
  padding: 25px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  color: #bdc3c7;
  font-size: 18px;
  font-weight: normal;
}
.price-1 .plan > * {
  padding-left: 10px;
  padding-right: 10px;
}
.price-1 .plan b {
  color: #7f8c8d;
}
.price-1 .plan .title {
  color: #2c3e50;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}
.price-1 .plan .description {
  margin: 26px 0;
  padding-top: 22px;
  border-top: 2px solid #ebedee;
  line-height: 28px;
  font-weight: normal;
}
.price-1 .plan .description b {
  font-weight: 500;
}
.price-1 .plan .btn {
  min-width: 150px;
}
.price-1 .ribbon {
  position: absolute;
  right: -3px;
  top: 26px;
}
@media (max-width: 979px) {
  .price-1 .ribbon {
    top: 4px;
  }
}
@media (max-width: 767px) {
  .price-1 .ribbon {
    top: 26px;
  }
}
@media (max-width: 767px) {
  .price-1 .plan {
    margin-top: 30px;
  }
  .price-1 .plan:first-child {
    margin-top: 0;
  }
}
/**
 * Price 2 stylesheet  
 * */
.price-2 {
  padding-top: 0px;
  padding-bottom: 110px;
}
.price-2 .plans {
  display: table;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid #e5e5e5;
  border-top: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.price-2 .plans .plan {
  display: table-cell;
  width: 33.33%;
  text-align: center;
}
.price-2 .plans .plan .ribbon {
  position: absolute;
  right: -1px;
  top: 47px;
  z-index: 2;
}
@media (max-width: 979px) {
  .price-2 .plans .plan .ribbon {
    top: 20px;
  }
}
@media (max-width: 767px) {
  .price-2 .plans .plan .ribbon {
    top: 50px;
  }
}
.price-2 .plans .title {
  padding: 55px 0 55px;
  background: #34495e;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  white-space: nowrap;
  position: relative;
}
.price-2 .plans .title .price {
  margin: 10px 0 13px;
  font-size: 100px;
  font-weight: 500;
}
.price-2 .plans .title .price .currency {
  font-size: 24px;
  vertical-align: top;
  position: relative;
  font-weight: 400;
  top: 26px;
  left: -10px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.price-2 .plans .title .price .period {
  font-size: 12px;
  vertical-align: bottom;
  position: relative;
  top: -27px;
  left: 10px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.price-2 .plans .title .btn.btn-clear {
  padding: 6px 12px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 13px;
  background: transparent;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-weight: 500;
}
.price-2 .plans .title .btn.btn-clear:hover,
.price-2 .plans .title .btn.btn-clear:focus {
  border-color: #fff;
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.price-2 .plans .title .btn.btn-clear:active,
.price-2 .plans .title .btn.btn-clear.active {
  border-color: #fff;
  color: #fff;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.price-2 .plans .plan:first-child .title {
  margin-left: -3px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
}
.price-2 .plans .plan:last-child .title {
  margin-right: -3px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
}
.price-2 .plans .description {
  padding: 27px 40px;
  color: #bdc3c7;
}
.price-2 .plans .description b {
  color: #7f8c8d;
  font-weight: 500;
}
.price-2 .plans .description .description-box {
  text-align: left;
  padding: 13px 0;
  border-top: 2px solid #ebedee;
}
.price-2 .plans .description .description-box:first-child {
  border-top: 0;
}
.price-2 .plans .description .description-box [class*="fui-"] {
  margin-right: 18px;
  font-size: 24px;
  vertical-align: middle;
  color: rgba(52, 73, 94, 0.2);
}
.price-2 .plans .plan-2 {
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}
.price-2 .plans .plan-2 .title {
  margin: 0 -2px;
  border-left: 2px solid #2f4254;
  border-right: 2px solid #2f4254;
  z-index: 3;
}
@media (max-width: 767px) {
  .price-2 .plans {
    display: block;
    width: auto;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .price-2 .plans .plan {
    display: block;
    width: auto;
    border: 0!important;
    margin-top: 50px;
  }
  .price-2 .plans .plan:first-child {
    margin-top: 0;
  }
  .price-2 .plans .title {
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    margin: 0!important;
  }
  .price-2 .plans .description {
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    border: 3px solid #e5e5e5;
    border-top: 0;
  }
  .price-2 .plans .plan-2 .ribbon {
    right: 0;
  }
}
/**
 * Price 3 stylesheet  
 * */
.price-3 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.price-3 .plans {
  *zoom: 1;
}
.price-3 .plans:before,
.price-3 .plans:after {
  display: table;
  content: "";
}
.price-3 .plans:after {
  clear: both;
}
.price-3 .plans:before,
.price-3 .plans:after {
  display: table;
  content: "";
  line-height: 0;
}
.price-3 .plans:after {
  clear: both;
}
.price-3 .plan {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  text-align: center;
  color: #bdc3c7;
  font-size: 18px;
}
.price-3 .plan > * {
  padding-left: 10px;
  padding-right: 10px;
}
.price-3 .plan b {
  color: #7f8c8d;
  font-weight: 500;
}
.price-3 .plan .title {
  color: #2c3e50;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}
.price-3 .plan .title .img {
  min-height: 134px;
}
.price-3 .plan .price {
  font-weight: 400;
}
.price-3 .plan .description {
  margin: 30px 0 35px;
  line-height: 28px;
}
.price-3 .plan .btn {
  min-width: 150px;
  font-weight: 500;
}
.price-3 .plan.plan-2 {
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}
@media (max-width: 767px) {
  .price-3 .plan {
    float: none;
    width: auto;
  }
  .price-3 .plan.plan-2 {
    border: 0;
    border-top: 2px solid #ebedee;
    border-bottom: 2px solid #ebedee;
    padding: 50px 0;
    margin: 50px 0;
  }
}
/**
 * Price 4 stylesheet  
 * */
.price-4 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.price-4 .plan {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  color: #bdc3c7;
  font-size: 18px;
}
.price-4 .plan > * {
  padding-left: 10px;
  padding-right: 10px;
}
.price-4 .plan b {
  color: #7f8c8d;
}
.price-4 .plan .title {
  color: #2c3e50;
  font-size: 24px;
  font-weight: 700;
  padding: 32px 0 7px;
}
.price-4 .plan .price {
  padding-bottom: 30px;
  border-bottom: 2px solid #ebedee;
}
.price-4 .plan .description {
  padding: 25px 40px;
  font-size: 18px;
  color: #bdc3c7;
}
.price-4 .plan .description b {
  color: #7f8c8d;
  font-weight: 500;
}
.price-4 .plan .description .description-box {
  padding: 16px 0;
  border-top: 2px solid #ebedee;
}
.price-4 .plan .description .description-box:first-child {
  border-top: 0;
}
.price-4 .plan .btn {
  display: block;
  width: auto;
  margin: 0 -2px -2px;
  padding: 22px 20px 24px;
  font-size: 22px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
}
.price-4 .plan .btn:hover,
.price-4 .plan .btn:focus {
  background: #1abc9c;
}
.price-4 .plan .btn:active {
  background: #16a085!important;
}
.price-4 .plan,
.price-4 .plan .title,
.price-4 .plan .price {
  -webkit-backface-visibility: hidden;
  -webkit-transition: border-color 0.25s, background-color 0.25s, color 0.25s;
  -moz-transition: border-color 0.25s, background-color 0.25s, color 0.25s;
  -o-transition: border-color 0.25s, background-color 0.25s, color 0.25s;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
}
.price-4 .plan:hover {
  border-color: #1abc9c;
}
.price-4 .plan:hover .title,
.price-4 .plan:hover .price,
.price-4 .plan:hover .btn {
  background: #1abc9c;
  border-color: #1abc9c;
}
.price-4 .plan:hover .title,
.price-4 .plan:hover .price {
  color: #fff;
}
.price-4 .plan:hover .price {
  color: rgba(255, 255, 255, 0.7);
}
.price-4 .description-detail {
  color: #95a5a6;
}
.price-4 .description-detail > * + * {
  margin-top: 75px;
}
.price-4 .description-detail h6 {
  color: #1abc9c;
  font-size: 18px;
  font-weight: 700;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.price-4 .description-detail [class*="fui-"] {
  color: #bdc3c7;
  font-size: 24px;
  display: inline-block;
  margin-bottom: 13px;
}
@media (max-width: 767px) {
  .price-4 .description-detail > * {
    margin-top: 50px;
  }
  .price-4 .description-detail > * > * + * {
    margin-top: 50px;
  }
}
/**
 * Price 5 stylesheet  
 * */
.price-5 {
  padding-top: 110px;
  padding-bottom: 90px;
}
.price-5 .plans {
  display: table;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid #e5e5e5;
  border-top: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.price-5 .plans .plan {
  display: table-cell;
  width: 33.33%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.4s background-color;
  -moz-transition: 0.4s background-color;
  -o-transition: 0.4s background-color;
  transition: 0.4s background-color;
}
.price-5 .plans .plan > * {
  position: relative;
}
.price-5 .plans .title {
  padding: 32px 0 40px;
  background: #1abc9c;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
  white-space: nowrap;
}
.price-5 .plans .title .price {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: normal;
  margin: 0 0 4px;
}
.price-5 .plans .title .price small {
  font-size: 24px;
  font-weight: normal;
  vertical-align: top;
  margin-right: 6px;
  margin-left: -1em;
}
.price-5 .plans .plan:first-child .title {
  margin-left: -3px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
}
.price-5 .plans .plan:last-child .title {
  margin-right: -3px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
}
.price-5 .plans .description {
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.4s opacity;
  -moz-transition: 0.4s opacity;
  -o-transition: 0.4s opacity;
  transition: 0.4s opacity;
}
.price-5 .plans .description .description-box {
  text-align: left;
  padding: 44px 50px 44px 44px;
  border-top: 2px solid #ebedee;
}
.price-5 .plans .description .description-box:first-child {
  border-top: 0;
}
.price-5 .plans .description big {
  font-size: 18px;
  font-weight: 500;
  color: #1abc9c;
  display: block;
  margin-bottom: 10px;
}
.price-5 .plans .description-more {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 56px 40px 44px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.4s opacity;
  -moz-transition: 0.4s opacity;
  -o-transition: 0.4s opacity;
  transition: 0.4s opacity;
}
.price-5 .plans .description-more big {
  font-size: 18px;
  font-weight: 500;
  color: #1abc9c;
  display: block;
  margin-bottom: 8px;
}
.price-5 .plans .description-more [class*="fui-"] {
  color: #1abc9c;
  font-size: 24px;
  margin-bottom: 25px;
}
.price-5 .plans .description-more .info {
  margin: 0 20px 55px;
  font-size: 14px;
  line-height: 18px;
}
.price-5 .plans .description-more .btn {
  display: block;
  max-width: 140px;
  margin: 0 auto;
}
.price-5 .plans .plan-2 {
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}
.price-5 .plans .plan-2 .title {
  margin: 0 -2px;
  border-left: 2px solid #17a98c;
  border-right: 2px solid #17a98c;
}
.price-5 .plans .plan:hover {
  background-color: rgba(26, 188, 156, 0.05);
}
.price-5 .plans .plan:hover .description {
  opacity: 0;
  filter: alpha(opacity=0);
}
.price-5 .plans .plan:hover .description-more {
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 767px) {
  .price-5 .plans {
    display: block;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .price-5 .plans .plan {
    display: block;
    width: auto;
    border: 0!important;
  }
  .price-5 .plans .plan + .plan {
    margin-top: 30px;
  }
  .price-5 .plans .title {
    margin: 0!important;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
  }
  .price-5 .plans .title + * {
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    border: 3px solid #e5e5e5;
    border-top: 0;
  }
  .price-5 .plans .description .description-box,
  .price-5 .plans .description-more {
    padding-left: 35px;
    padding-right: 35px;
  }
}
.price-5 .terms {
  text-align: center;
  margin: 40px 0 20px;
  color: #95a5a6;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
}
.price-5 .terms a {
  text-decoration: underline;
  color: #1abc9c;
  font-weight: normal;
}
.price-5 .terms a:hover {
  text-decoration: none;
}
