@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/*only fo flat-ui free*/body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 62.006px /* 64px */;
}
h2,
.h2 {
  font-size: 51.996px /* 52px */;
}
h3,
.h3 {
  font-size: 39.998000000000005px /* 40px */;
}
h4,
.h4 {
  font-size: 28.994000000000003px /* 29px */;
}
h5,
.h5 {
  font-size: 28px /* 28px */;
}
h6,
.h6 {
  font-size: 23.996px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */

  line-height: 1.722169;
  /* 31px */

}
.lead {
  font-size: 28px;
  /* 28px */

  line-height: 1.4642745000000001;
  /* 41px */

  font-weight: 300;
}
small {
  font-size: 84%;
  /* 15px */

  line-height: 2.050846;
  /* 31px */

}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  box-shadow: none;
}
/* end only for flat-ui free*/
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
@media (max-width: 768px) {
  .background {
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.nav-visible .navbar .nav-collapse .nav > li > a:hover,
.nav-visible .navbar .nav-collapse .nav > li > li a:focus {
  background-color: transparent;
}
.nav-visible .nav-collapse .navbar-form,
.nav-visible .nav-collapse .navbar-search {
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
  margin: 10px 0;
  padding: 10px 15px;
}
.nav-visible .nav-collapse .navbar-form a.btn,
.nav-visible .nav-collapse .navbar-search a.btn {
  border-color: white;
  color: white;
}
.nav-visible .nav-collapse .navbar-form a.btn:hover,
.nav-visible .nav-collapse .navbar-search a.btn:hover,
.nav-visible .nav-collapse .navbar-form a.btn:focus,
.nav-visible .nav-collapse .navbar-search a.btn:focus {
  color: #7f8c8d;
  background-color: white;
}
/**
 * Content 1 stylesheet  
 * */
.content-1 {
  padding-top: 70px;
  padding-bottom: 65px;
  position: relative;
}
.content-1 h3 {
  font-size: 34px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 24px;
}
.content-1 p {
  font-size: 18px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-1 .box-video {
  margin-top: 40px;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-1 .box-video p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-1 .box-video h6 {
  font-size: 20px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.content-1 .box-video .btns {
  text-align: center;
}
@media (max-width: 767px) {
  .content-1 .box-video .btns {
    text-align: left;
  }
}
.content-1 .box-video .btns .btn {
  min-width: 90%;
}
@media (max-width: 767px) {
  .content-1 .box-video .btns .btn {
    min-width: 0;
  }
}
.content-1 .box-video .btns .btn [class*="fui-"] {
  float: left;
  font-size: 22px;
  font-weight: normal;
  color: #ffffff;
}
.content-1 .box-video .btns .btn + .btn {
  margin-top: 15px;
}
@media (max-width: 767px) {
  .content-1 .box-video .btns .btn + .btn {
    margin: 0 0 0 15px;
  }
}
.content-1 .box-video .additional-links {
  margin-top: 20px;
  font-size: 12px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 17px;
  text-align: center;
}
@media (max-width: 767px) {
  .content-1 .box-video .additional-links {
    text-align: left;
  }
}
.content-1 .box-video .additional-links a {
  text-decoration: underline;
  color: #7f8c8d;
}
.content-1 .box-video .additional-links a:hover,
.content-1 .box-video .additional-links a:focus,
.content-1 .box-video .additional-links a.active {
  color: #1abc9c;
}
@media (max-width: 480px) {
  .content-1 .box-video {
    margin: 40px 0 0;
  }
  .content-1 .box-video .player {
    margin-bottom: 40px;
    width: 100%;
  }
  .content-1 .box-video .btns {
    margin-top: 35px;
  }
  .content-1 .box-video .btns .btn {
    display: block;
  }
  .content-1 .box-video .btns .btn + .btn {
    margin: 16px 0 0;
  }
  .content-1 .box-video .additional-links {
    text-align: center;
    max-width: 170px;
    margin: 20px auto 0;
  }
}
.content-1 .player {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  float: left;
  width: 220px;
  margin: 0 50px 10px 0;
}
@media (max-width: 767px) {
  .content-1 .player {
    float: none;
    margin: 0 auto 10px;
  }
}
.content-1 .player .btn-play {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  margin: -20px 0 0 -30px;
  padding-left: 16px;
  background-color: #16a085;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.content-1 .player .btn-play:hover,
.content-1 .player .btn-play:focus {
  background-color: #45b39d;
}
.content-1 .player .btn-play:active,
.content-1 .player .btn-play.active {
  background-color: #138871;
}
.content-1 .player > iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
/**
 * Content 2 stylesheet  
 * */
.content-2 {
  padding-top: 130px;
  padding-bottom: 130px;
  position: relative;
}
.content-2 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 35px;
  font-weight: 300;
}
.content-2 p {
  font-size: 18px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 29.999999999999996px;
}
.content-2 .btns {
  margin-top: 50px;
  font-size: 15px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-2 .btns .btn {
  padding: 9px 17px 10px 15px;
  margin-right: 28px;
}
.content-2 .btns .btn > [class^="fui-"] {
  font-size: 26px;
  font-weight: normal;
  color: #ffffff;
  margin: 0 12px 0 0;
}
@media (max-width: 767px) {
  .content-2 .btns {
    margin-top: 35px;
  }
  .content-2 .span5.offset1 {
    margin-top: 45px;
  }
}
.content-2 .player {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #f2f3f4;
  position: relative;
  overflow: hidden;
  height: 250px;
}
.content-2 .player .btn-play {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 60px;
  padding-left: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/**
 * Content 3 stylesheet  
 * */
.content-3 {
  padding-top: 130px;
  padding-bottom: 130px;
  position: relative;
}
.content-3 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 24px;
}
.content-3 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 29.999999999999996px;
}
@media (max-width: 767px) {
  .content-3 p {
    margin-bottom: 34px;
  }
}
.content-3.v-center,
.content-3 .v-center {
  display: table;
  width: 100%;
}
.content-3.v-center > div,
.content-3 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-3.v-center.row:before,
  .content-3 .v-center.row:before,
  .content-3.v-center.row:after,
  .content-3 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-3.v-center,
  .content-3 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content-3.v-center.row,
  .content-3 .v-center.row {
    display: block;
    width: auto;
  }
  .content-3.v-center.row:before,
  .content-3 .v-center.row:before,
  .content-3.v-center.row:after,
  .content-3 .v-center.row:after {
    display: none;
  }
  .content-3.v-center.row > *,
  .content-3 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.content-3 .img {
  text-align: right;
}
@media (max-width: 767px) {
  .content-3 .img {
    text-align: center;
    margin-bottom: 30px;
  }
}
.content-3 .delimiter {
  margin-top: 130px;
  padding-top: 70px;
  border-top: 2px solid #ecf0f1;
}
@media (max-width: 767px) {
  .content-3 .delimiter {
    display: none;
  }
}
.content-3 .features h6 {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 20px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: none;
}
@media (max-width: 767px) {
  .content-3 .features h6 {
    margin-top: 30px;
    margin-bottom: 15px;
  }
}
.content-3 .features p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 26px;
}
.content-3.mirror .aligment {
  float: right;
}
.content-3.mirror .img {
  text-align: left;
}
/**
 * Content 4 stylesheet  
 * */
.content-4 {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  background-color: #F5F3EE
}
.content-4 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0px;
  font-weight: 300;
}
.content-4 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 26px;
}
.content-4 .features h6 {
  margin: 0 0 13px;
  font-size: 24px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: none;
}
.content-4 .features p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-4 .features > [class*="span"] {
  position: relative;
  padding-top: 180px;
  padding-bottom: 50px;
}
.content-4 .features > [class*="span"] > img:first-child {
  position: absolute;
  left: 0;
  top: 30px;
}
.content-4 .features:last-child > [class*="span"],
.content-4 .features.last > [class*="span"] {
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .content-4 .features > [class*="span"],
  .content-4 .features:last-child > [class*="span"],
  .content-4 .features.last > [class*="span"] {
    padding-top: 150px;
    padding-bottom: 20px;
  }
  .content-4 .features:last-child > [class*="span"]:last-child,
  .content-4 .features.last > [class*="span"]:last-child,
  .content-4 .features:last-child > [class*="span"].last,
  .content-4 .features.last > [class*="span"].last {
    padding-bottom: 0;
  }
}
/**
 * Content 5 stylesheet  
 * */
.content-5 {
  padding-top: 130px;
  padding-bottom: 120px;
  position: relative;
}
.content-5 .container > img {
  display: block;
  margin: 0 auto 50px;
}
.content-5 h3 {
  margin: 0 0 21px;
  font-size: 35px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
@media (max-width: 767px) {
  .content-5 h3 {
    margin-bottom: 15px;
  }
}
.content-5 h3 + .lead {
  font-size: 25px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}
@media (max-width: 767px) {
  .content-5 h3 + .lead {
    line-height: 1.25;
  }
}
@media (max-width: 480px) {
  .content-5 {
    padding-bottom: 40px;
  }
}
.content-5 .features > [class*="span"] {
  position: relative;
  margin-top: 40px;
}
.content-5 .features > [class*="span"] > [class*="fui-"] {
  position: absolute;
  left: -60px;
  top: 7px;
  font-size: 25px;
  font-weight: normal;
  color: #2c3e50;
}
@media (max-width: 767px) {
  .content-5 .features > [class*="span"] > [class*="fui-"] {
    position: static;
    float: left;
    margin: -7px 20px 0 0;
  }
}
.content-5 .features > [class*="span"] p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-5 .features > [class*="span"] h6 {
  font-size: 22px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-bottom: 14px;
  text-transform: none;
}
/**
 * Content 6 stylesheet  
 * */
.content-6 {
  position: relative;
  padding-top: 130px;
  padding-bottom: 120px;
}
@media (max-width: 768px) {
  .content-6 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.content-6 h3 {
  margin: 0 0 21px;
  text-align: center;
  font-size: 35px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-6 h3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  .content-6 h3 {
    margin-bottom: 15px;
  }
}
.content-6 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 26px;
}
.content-6 .lead {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
@media (max-width: 767px) {
  .content-6 .lead {
    line-height: 1.25;
  }
}
.content-6.v-center,
.content-6 .v-center {
  display: table;
  width: 100%;
}
.content-6.v-center > div,
.content-6 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-6.v-center.row:before,
  .content-6 .v-center.row:before,
  .content-6.v-center.row:after,
  .content-6 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-6.v-center,
  .content-6 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content-6.v-center.row,
  .content-6 .v-center.row {
    display: block;
    width: auto;
  }
  .content-6.v-center.row:before,
  .content-6 .v-center.row:before,
  .content-6.v-center.row:after,
  .content-6 .v-center.row:after {
    display: none;
  }
  .content-6.v-center.row > *,
  .content-6 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
@media (max-width: 480px) {
  .content-6 {
    padding-bottom: 210px;
  }
}
.content-6 .features > * {
  margin-top: 40px;
}
.content-6 .features h6 {
  font-size: 22px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-bottom: 14px;
  text-transform: none;
}
/**
 * Content 7 stylesheet  
 * */
.content-7 {
  padding-top: 125px;
  padding-bottom: 130px;
  position: relative;
  text-align: center;
}
.content-7 h3 {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 80px;
  line-height: 42px;
  font-weight: 800;
  letter-spacing: -1px;
}
@media (max-width: 767px) {
  .content-7 h3 {
    margin-bottom: 20px;
    line-height: 36px;
  }
}
.content-7.v-center,
.content-7 .v-center {
  display: table;
  width: 100%;
}
.content-7.v-center > div,
.content-7 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-7.v-center.row:before,
  .content-7 .v-center.row:before,
  .content-7.v-center.row:after,
  .content-7 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-7.v-center,
  .content-7 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content-7.v-center.row,
  .content-7 .v-center.row {
    display: block;
    width: auto;
  }
  .content-7.v-center.row:before,
  .content-7 .v-center.row:before,
  .content-7.v-center.row:after,
  .content-7 .v-center.row:after {
    display: none;
  }
  .content-7.v-center.row > *,
  .content-7 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.content-7 .row {
  text-align: left;
}
.content-7 h6 {
  font-size: 18px;
  font-weight: normal;
  color: #e74c3c;
  font-weight: 500;
  margin-top: 60px;
  text-transform: none;
}
.content-7 h6:first-child {
  margin-top: auto;
}
@media (max-width: 767px) {
  .content-7 h6 {
    margin-top: 20px;
  }
}
.content-7 .row > .span3:first-child {
  font-size: 22px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 32px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .content-7 .v-center {
    padding-left: 0;
    padding-right: 0;
  }
  .content-7 .row > [class*="span"] {
    margin-top: 45px;
  }
  .content-7 .row > [class*="span"]:first-child {
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  .content-7 h3 {
    text-align: left;
  }
}
.content-7 .screen-wrapper {
  position: relative;
  height: 437px;
}
.content-7 .screen-wrapper .screen {
  position: absolute;
  left: 50%;
  margin-left: -151px;
  overflow: hidden;
}
.content-7 .screen-wrapper .screen img {
  position: relative;
  max-width: none;
}
.content-7 .screen-wrapper .screen img:first-child {
  position: absolute;
  left: 0;
  top: 0;
  max-height: 100%;
}
/**
 * Content 8 stylesheet  
 * */
.content-8 {
  padding-top: 130px;
  padding-bottom: 130px;
  position: relative;
  text-align: center;
}
.content-8 h3 {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 70px 0 35px;
}
.content-8 p {
  font-size: 18px;
  font-weight: normal;
  color: #7f8c8d;
  margin-bottom: 43px;
}
.content-8 .btn.btn-clear {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  border: 2px solid #e74c3c;
  font-size: 14px;
  font-weight: normal;
  color: #7f8c8d;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 12px 28px 12px;
  color: #e74c3c;
}
.content-8 .btn.btn-clear:hover,
.content-8 .btn.btn-clear:focus {
  background: #e74c3c;
  color: #fff;
}
.content-8 .btn.btn-clear:active,
.content-8 .btn.btn-clear.active {
  border-color: #c44133;
  background: #c44133;
  color: rgba(255, 255, 255, 0.75);
}
.content-8.v-center,
.content-8 .v-center {
  display: table;
  width: 100%;
}
.content-8.v-center > div,
.content-8 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-8.v-center.row:before,
  .content-8 .v-center.row:before,
  .content-8.v-center.row:after,
  .content-8 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-8.v-center,
  .content-8 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content-8.v-center.row,
  .content-8 .v-center.row {
    display: block;
    width: auto;
  }
  .content-8.v-center.row:before,
  .content-8 .v-center.row:before,
  .content-8.v-center.row:after,
  .content-8 .v-center.row:after {
    display: none;
  }
  .content-8.v-center.row > *,
  .content-8 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
/**
 * Content 9 stylesheet  
 * */
.content-9 {
  padding-top: 100px;
  padding-bottom: 27px;
  position: relative;
}
.content-9 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 24px;
  font-weight: 300;
}
.content-9 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 30px;
}
.content-9 h6 {
  text-transform: none;
  font-size: 18px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-9 .span3 {
  font-size: 14px;
  font-weight: normal;
  color: #7f8c8d;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .content-9 .span3 {
    margin-top: 20px;
  }
}
/**
 * Content 10 stylesheet  
 * */
.content-10 {
  padding-top: 130px;
  padding-bottom: 125px;
  position: relative;
}
.content-10 .carousel {
  margin-bottom: 0;
  display: inline-block;
  text-align: center;
}
@media (max-width: 767px) {
  .content-10 .carousel {
    margin-top: 80px;
  }
}
.content-10 .carousel .item img {
  margin: 0 auto;
}
.content-10 .carousel .carousel-indicators {
  position: static;
  text-align: center;
  margin: 0;
  padding-top: 40px;
}
.content-10 .carousel .carousel-indicators li {
  display: inline-block;
  float: none;
  width: 12px;
  height: 12px;
  margin-left: 7px;
  text-indent: -999px;
  background-color: #f1f1f1;
  border-radius: 50%;
  cursor: pointer;
}
.content-10 .carousel .carousel-indicators li:first-child {
  margin-left: 0;
}
.content-10 .carousel .carousel-indicators .active {
  background-color: #c0392b;
}
.content-10 .carousel .item {
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.6s ease-in-out opacity;
  -moz-transition: 0.6s ease-in-out opacity;
  -o-transition: 0.6s ease-in-out opacity;
  transition: 0.6s ease-in-out opacity;
  left: 0!important;
}
.content-10 .carousel .item.active.left,
.content-10 .carousel .item.active.right {
  opacity: 0;
  z-index: 2;
}
.content-10 .carousel .item.next {
  opacity: 1;
  z-index: 1;
}
.content-10 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 48px;
  font-weight: 300;
}
.content-10 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-10 .features .box {
  position: relative;
  padding-left: 140px;
  padding-top: 50px;
  margin-top: 50px;
  min-height: 100px;
  border-top: 2px solid #ecf0f1;
}
.content-10 .features .box.first,
.content-10 .features .box:first-child,
.content-10 .features .box:first-of-type {
  margin-top: 0;
  border-top: 0;
}
.content-10 .features .box > img {
  position: absolute;
  left: 0;
  top: 50px;
}
.content-10 .features h6 {
  text-transform: none;
  font-size: 22px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1.3;
}
.content-10 .features p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
/**
 * Content 11 stylesheet  
 * */
.content-11 {
  position: relative;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  background: rgba(241, 196, 15, 0.1);
  font-size: 24px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.content-11 > .container {
  position: relative;
}
.content-11 .btn {
  margin-left: 33px;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 480px) {
  .content-11 > .container > span {
    display: block;
  }
  .content-11 .btn {
    margin: 30px 0 0;
  }
}
@media (max-width: 614px) {
  .content-11 > .container > span {
    display: block;
  }
  .content-11 .btn {
    margin: 30px 0 0;
  }
}
/**
 * Content 12 stylesheet  
 * */
.content-12 {
  position: relative;
}
.content-12 .wide {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 767px) {
  .content-12 .wide {
    margin-right: -20px;
    margin-left: -20px;
  }
}
.content-12 .btn-wide {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  background: #1abc9c;
  font-weight: 300;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.25s color, 0.25s background-color;
  -moz-transition: 0.25s color, 0.25s background-color;
  -o-transition: 0.25s color, 0.25s background-color;
  transition: 0.25s color, 0.25s background-color;
}
.content-12 .btn-wide:hover,
.content-12 .btn-wide:focus,
.content-12 .btn-wide.active {
  color: #ffffff;
}
.content-12 .btn-wide:hover,
.content-12 .btn-wide:active {
  background: #e74c3c;
}
@media (max-width: 767px) {
  .content-12 .btn-wide {
    font-size: 30px;
  }
}
/**
 * Content 13 stylesheet  
 * */
.content-13 {
  position: relative;
}
.content-13.subscribe-form {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #a1a9b1;
}
.content-13.subscribe-form .span4 {
  text-align: right;
}
@media (max-width: 767px) {
  .content-13.subscribe-form .span4 {
    width: auto;
    display: inline-block;
    float: right;
    text-align: center;
  }
}
@media (max-width: 668px) {
  .content-13.subscribe-form .span4 {
    display: block;
    float: none;
  }
}
.content-13.subscribe-form form {
  margin: 0;
  position: relative;
}
@media (max-width: 767px) {
  .content-13.subscribe-form form .span8 {
    width: 65%;
    display: inline-block;
    float: left;
  }
}
@media (max-width: 668px) {
  .content-13.subscribe-form form .span8 {
    width: auto;
    display: block;
    float: none;
    text-align: center;
  }
}
.content-13.subscribe-form input[type="text"],
.content-13.subscribe-form input[type="email"] {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  line-height: 59.99999999999999px;
  font-size: 50px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]:-moz-placeholder,
.content-13.subscribe-form input[type="email"]:-moz-placeholder {
  color: #ffffff;
}
.content-13.subscribe-form input[type="text"]::-webkit-input-placeholder,
.content-13.subscribe-form input[type="email"]::-webkit-input-placeholder {
  color: #ffffff;
}
.content-13.subscribe-form input[type="text"].placeholder,
.content-13.subscribe-form input[type="email"].placeholder {
  color: #ffffff;
}
.content-13.subscribe-form input[type="text"]::-webkit-input-placeholder,
.content-13.subscribe-form input[type="email"]::-webkit-input-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]:-moz-placeholder,
.content-13.subscribe-form input[type="email"]:-moz-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]::-moz-placeholder,
.content-13.subscribe-form input[type="email"]::-moz-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]:-ms-input-placeholder,
.content-13.subscribe-form input[type="email"]:-ms-input-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form .ani-placeholder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  padding-left: 6px;
  line-height: 59.99999999999999px;
  font-size: 50px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-13.subscribe-form .btn {
  margin-top: 8px;
  width: 220px;
  max-width: 100%;
}
.content-13.subscribe-form .btn.btn-primary {
  background: #16a085;
}
.content-13.subscribe-form .btn.btn-primary:hover,
.content-13.subscribe-form .btn.btn-primary:focus {
  background: #24deb4;
}
.content-13.subscribe-form .btn.btn-primary:active,
.content-13.subscribe-form .btn.btn-primary.active {
  background: #138871;
}
@media (max-width: 480px) {
  .content-13.subscribe-form input[type="text"],
  .content-13.subscribe-form input[type="email"],
  .content-13.subscribe-form .ani-placeholder {
    width: 100%;
    margin-bottom: 33px;
    line-height: 27px;
    font-size: 25px;
    font-weight: normal;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
  }
}
@media (max-width: 688px) {
  .content-13.subscribe-form input[type="text"],
  .content-13.subscribe-form input[type="email"],
  .content-13.subscribe-form .ani-placeholder {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}
/**
 * Content 14 stylesheet  
 * */
.content-14 {
  padding-top: 125px;
  padding-bottom: 130px;
  position: relative;
}
@media (max-width: 767px) {
  .content-14 {
    height: auto!important;
  }
}
.content-14 h3 {
  margin: 0 0 5px;
  text-align: center;
  font-size: 35px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
@media (max-width: 767px) {
  .content-14 h3 {
    margin-bottom: 15px;
  }
}
.content-14 .lead {
  font-size: 25px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 300;
}
@media (max-width: 767px) {
  .content-14 .lead {
    line-height: 1.25;
    margin-bottom: 50px;
  }
}
.content-14 .features {
  margin-top: 55px;
}
.content-14 .features.v-center,
.content-14 .features .v-center {
  display: table;
  width: 100%;
}
.content-14 .features.v-center > div,
.content-14 .features .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-14 .features.v-center.row:before,
  .content-14 .features .v-center.row:before,
  .content-14 .features.v-center.row:after,
  .content-14 .features .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-14 .features.v-center,
  .content-14 .features .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content-14 .features.v-center.row,
  .content-14 .features .v-center.row {
    display: block;
    width: auto;
  }
  .content-14 .features.v-center.row:before,
  .content-14 .features .v-center.row:before,
  .content-14 .features.v-center.row:after,
  .content-14 .features .v-center.row:after {
    display: none;
  }
  .content-14 .features.v-center.row > *,
  .content-14 .features .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.content-14 .features h6 {
  text-transform: none;
  color: #e74c3c;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-14 .features .row {
  margin-top: 70px;
  color: #95a5a6;
}
@media (max-width: 767px) {
  .content-14 .features .span6 {
    display: none;
  }
}
.content-14 .features .span6 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content-14 .features .span2 {
  position: relative;
}
.content-14 .features [class*="box"] {
  position: absolute;
}
@media (max-width: 767px) {
  .content-14 .features [class*="box"] {
    position: static;
  }
}
.content-14 .features [class*="box"] img {
  position: absolute;
}
@media (max-width: 767px) {
  .content-14 .features [class*="box"] img {
    display: none;
  }
}
.content-14 .features [class*="box"] img[src*="line-l"] {
  bottom: 100%;
  left: 85%;
  margin-bottom: 30px;
}
.content-14 .features [class*="box"] img[src*="line-r"] {
  top: 100%;
  right: 85%;
  margin-top: 30px;
}
.content-14 .features .box-1,
.content-14 .features .box-5 {
  top: 112px;
  font-size: 14px;
  font-weight: normal;
  color: #7f8c8d;
}
@media (max-width: 979px) and (min-width: 768px) {
  .content-14 .features .box-1,
  .content-14 .features .box-5 {
    top: 220px;
  }
}
.content-14 .features .box-2,
.content-14 .features .box-6 {
  top: 375px;
  font-size: 14px;
  font-weight: normal;
  color: #7f8c8d;
}
@media (max-width: 979px) and (min-width: 768px) {
  .content-14 .features .box-2,
  .content-14 .features .box-6 {
    top: 440px;
  }
}
.content-14 .features .box-3,
.content-14 .features .box-7 {
  top: 625px;
  font-size: 14px;
  font-weight: normal;
  color: #7f8c8d;
}
@media (max-width: 979px) and (min-width: 768px) {
  .content-14 .features .box-3,
  .content-14 .features .box-7 {
    top: 660px;
  }
}
.content-14 .features .box-4,
.content-14 .features .box-8 {
  top: 880px;
  font-size: 14px;
  font-weight: normal;
  color: #7f8c8d;
}
@media (max-width: 979px) and (min-width: 768px) {
  .content-14 .features .box-4,
  .content-14 .features .box-8 {
    top: 10px;
  }
}
@media (max-width: 480px) {
  .content-14 .features {
    margin-top: -35px;
  }
  .content-14 .features [class*="box"] {
    margin-top: 35px;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
  }
}
/**
 * Content 15 stylesheet  
 * */
.content-15 {
  padding-top: 125px;
  padding-bottom: 130px;
  position: relative;
}
.content-15 h3 {
  margin-bottom: 68px;
  font-size: 37px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
}
@media (max-width: 767px) {
  .content-15 h3 {
    margin-bottom: 76px;
    font-size: 30px;
    font-weight: normal;
    color: #2c3e50;
    font-weight: 300;
    text-align: center;
  }
}
.content-15 p {
  font-size: 18px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-15 .features {
  margin-top: 120px;
}
.content-15 .features h6 {
  text-transform: none;
  margin: 60px 0 20px;
  font-size: 20px;
  font-weight: normal;
  color: #e74c3c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-15 .features h6:first-child {
  margin-top: auto;
}
@media (max-width: 767px) {
  .content-15 .features h6 {
    margin-bottom: 10px;
    margin-top: 40px;
    text-align: center;
  }
}
.content-15 .features p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-15 .features .span7 img {
  width: 100%;
}
@media (max-width: 767px) {
  .content-15 .features .span7 {
    text-align: center;
    margin-bottom: 46px;
  }
}
.content-15 .features .span4 {
  position: relative;
}
.content-15 .features .span4 > img {
  position: absolute;
  left: -15%;
  top: 100%;
  margin-top: 20px;
}
@media (max-width: 979px) and (min-width: 768px) {
  .content-15 .features .span4 > img {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .content-15 .features {
    margin-top: 76px;
  }
}
/**
 * Content 16 stylesheet  
 * */
.content-16 {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.content-16.v-center,
.content-16 .v-center {
  display: table;
  width: 100%;
}
.content-16.v-center > div,
.content-16 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-16.v-center.row:before,
  .content-16 .v-center.row:before,
  .content-16.v-center.row:after,
  .content-16 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-16.v-center,
  .content-16 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content-16.v-center.row,
  .content-16 .v-center.row {
    display: block;
    width: auto;
  }
  .content-16.v-center.row:before,
  .content-16 .v-center.row:before,
  .content-16.v-center.row:after,
  .content-16 .v-center.row:after {
    display: none;
  }
  .content-16.v-center.row > *,
  .content-16 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.content-16 .lead {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  color: #bdc3c7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 35px;
}
.content-16 h3 {
  text-align: center;
  font-size: 35px;
  font-weight: normal;
  color: #2c3e50;
}
.content-16 h3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
.content-16 .control-btn {
  width: 53px;
  height: 53px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  color: #bdc3c7;
  background: #ecf0f1;
  position: absolute;
  left: 50%;
  bottom: 130px;
  margin-left: -26.5px;
}
.content-16 .control-btn:hover,
.content-16 .control-btn:focus {
  color: white;
  background: #34495e;
}
.content-16 .control-btn:active {
  color: #bdc3c7;
}
/**
 * Content 17 stylesheet  
 * */
.content-17 {
  position: relative;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 130px;
}
@media (max-width: 768px) {
  .content-17 {
    padding-top: auto;
    padding-bottom: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.content-17 p {
  font-size: 18px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-17 .carousel {
  margin-top: 40px;
  margin-bottom: 18px;
  text-align: center;
  font-size: 22px;
  font-weight: normal;
  color: #2c3e50;
  font-weight: 500;
  line-height: 25px;
}
.content-17 .carousel .item {
  -webkit-backface-visibility: hidden;
  -webkit-transition: .8s ease-in-out top, .6s ease-in-out opacity;
  -moz-transition: .8s ease-in-out top, .6s ease-in-out opacity;
  -o-transition: .8s ease-in-out top, .6s ease-in-out opacity;
  transition: .8s ease-in-out top, .6s ease-in-out opacity;
  opacity: 0;
}
.content-17 .carousel .item.active.left,
.content-17 .carousel .item.active.right {
  opacity: 0;
  z-index: 2;
}
.content-17 .carousel .item.active,
.content-17 .carousel .item.prev,
.content-17 .carousel .item.next {
  opacity: 1;
  z-index: 1;
}
.content-17 .carousel + * {
  position: relative;
}
/**
 * Content 18 stylesheet  
 * */
.content-18 {
  padding-top: 130px;
  padding-bottom: 130px;
  position: relative;
}
.content-18 .carousel {
  margin-bottom: 100px;
  text-align: center;
}
.content-18 .carousel:before {
  content: url('../../../common-files/icons/quote-down-mb.png');
  display: block;
  margin: 0 auto 95px;
  text-align: center;
}
@media (max-width: 767px) {
  .content-18 .carousel:before {
    margin-bottom: 45px;
  }
}
.content-18 .carousel .quote-text {
  max-width: 620px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 40px;
}
.content-18 .carousel .quote-author {
  max-width: 620px;
  margin: 45px auto 0;
  padding: 0 20px;
  font-size: 18px;
  font-weight: normal;
  color: #bdc3c7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-18 .carousel .controls {
  position: relative;
  z-index: 3;
}
.content-18 .carousel .controls > .carousel-control {
  z-index: 5;
  position: absolute;
  top: 20px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  overflow: hidden;
  background: #2c3e50;
}
.content-18 .carousel .controls > .carousel-control.disabled {
  z-index: auto;
  background: none;
  border: 3px solid #ebedee;
  pointer-events: none;
}
.content-18 .carousel .controls > .carousel-control.left {
  left: 0;
}
.content-18 .carousel .controls > .carousel-control.right {
  right: 0;
}
.content-18 .carousel .carousel-inner {
  padding-bottom: 0;
}
.content-18 .carousel .item {
  -webkit-backface-visibility: hidden;
  -webkit-transition: .8s ease-in-out opacity, .8s ease-in-out opacity;
  -moz-transition: .8s ease-in-out opacity, .8s ease-in-out opacity;
  -o-transition: .8s ease-in-out opacity, .8s ease-in-out opacity;
  transition: .8s ease-in-out opacity, .8s ease-in-out opacity;
  display: block;
  position: absolute;
  top: 0;
  left: 0!important;
  right: 0;
  opacity: 0;
}
.content-18 .carousel .item.active.left,
.content-18 .carousel .item.active.right {
  opacity: 0;
  top: 100%;
  z-index: 2;
}
.content-18 .carousel .item.active,
.content-18 .carousel .item.prev,
.content-18 .carousel .item.next {
  opacity: 1;
  top: 0;
  z-index: 1;
}
.content-18 .carousel + * {
  position: relative;
}
@media (max-width: 767px) {
  .content-18 .carousel {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .content-18 .carousel .controls {
    display: none;
  }
}
.content-18 .quotes > * {
  margin-top: 48px;
}
.content-18 .quotes h6 {
  text-transform: none;
  font-size: 18px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
/**
 * Content 19 stylesheet  
 * */
.content-19 {
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
  border-bottom: 2px solid #ebedee;
}
.content-19 .span7 .quote {
  position: relative;
}
.content-19 .span7 .quote:before {
  content: url('../../../common-files/icons/quote-up-mb.png');
  position: absolute;
  top: 0;
  left: -60px;
}
@media (min-width: 1200px) and (max-width: 1300px), (min-width: 980px) and (max-width: 1080px), (max-width: 870px) {
  .content-19 .span7 .quote:before {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-19 .span7 .quote {
    margin-bottom: 50px;
  }
}
.content-19 .span7 .quote .quote-text {
  font-size: 37px;
  font-weight: normal;
  color: #2c3e50;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-19 .span7 .quote .quote-author {
  margin-top: 20px;
  font-size: 13px;
  font-weight: normal;
  color: #95a5a6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.content-19 .span7 .quote .quote-author > * {
  vertical-align: middle;
}
.content-19 .span7 .quote .quote-author-photo {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #ebedee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  margin-right: 20px;
}
.content-19 .span7 .quote .quote-author-name {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.19em;
}
.content-19 .span3 .quote {
  position: relative;
  margin-top: 50px;
}
.content-19 .span3 .quote:first-child {
  margin-top: 0;
}
.content-19 .span3 .quote .quote-text {
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
  color: #95a5a6;
}
.content-19 .span3 .quote .quote-author {
  font-size: 18px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-19 .span3 .quote .quote-author-photo {
  position: absolute;
  width: 32px;
  height: 32px;
  background: #ebedee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  margin-left: -50px;
  margin-top: 6px;
}
.content-19 .span3 .quote .quote-date {
  font-size: 12px;
  font-weight: normal;
  color: #95a5a6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.19em;
}
@media (max-width: 480px) {
  .content-19 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .content-19 .span7 .quote .quote-author {
    font-size: 11px;
    font-weight: normal;
    color: #7f8c8d;
    letter-spacing: 0;
  }
  .content-19 .span7 .quote .quote-author .quote-author-photo {
    margin-right: 10px;
  }
  .content-19 .span3 .quote .quote-author-photo {
    position: static;
    margin: 5px 10px 0 0;
    float: left;
  }
}
.content-20 {
  position: relative;
  padding: 200px 0;
}
.content-20.v-center,
.content-20 .v-center {
  display: table;
  width: 100%;
}
.content-20.v-center > div,
.content-20 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-20.v-center.row:before,
  .content-20 .v-center.row:before,
  .content-20.v-center.row:after,
  .content-20 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-20.v-center,
  .content-20 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content-20.v-center.row,
  .content-20 .v-center.row {
    display: block;
    width: auto;
  }
  .content-20.v-center.row:before,
  .content-20 .v-center.row:before,
  .content-20.v-center.row:after,
  .content-20 .v-center.row:after {
    display: none;
  }
  .content-20.v-center.row > *,
  .content-20 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.content-20 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 35px;
  line-height: 40px;
  font-weight: 300;
}
.content-20 h6 {
  text-transform: none;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  margin: 0 0 9px;
}
.content-20 .signup-form,
.content-20 .signup-form + div {
  display: inline-block;
  vertical-align: middle;
}
.content-20 .signup-form + div {
  margin-left: 100px;
  max-width: 300px;
}
@media (max-width: 979px) and (min-width: 768px) {
  .content-20 .signup-form + div {
    max-width: 228px;
  }
}
@media (max-width: 767px) {
  .content-20 {
    padding: 80px 20px;
  }
  .content-20 .signup-form,
  .content-20 .signup-form + div {
    display: block;
    vertical-align: baseline;
  }
  .content-20 .signup-form + div {
    margin-top: 70px;
    margin-left: 0;
    max-width: none;
  }
}
@media (max-width: 480px) {
  .content-20 {
    display: none;
  }
}
.content-20 .signup-form {
  width: 100%;
}
.content-20 .signup-form form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin: 10px 0 0;
  padding: 37px 10.263% 76px;
  background: white;
  font-size: 15px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-20 .signup-form form .control-group {
  margin-bottom: 23px;
}
.content-20 .signup-form form .control-group.pull-left {
  margin-right: 5%;
  width: 45%;
}
.content-20 .signup-form form .control-group.pull-right {
  margin-left: 5%;
  width: 45%;
}
.content-20 .signup-form form label {
  font-size: 15px;
  font-weight: normal;
  color: #34495e;
  margin-bottom: 12px;
}
.content-20 .signup-form form input[type="text"],
.content-20 .signup-form form input[type="password"] {
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  color: #34495e;
  border-color: #ecf0f1;
}
.content-20 .signup-form form input[type="text"]:hover,
.content-20 .signup-form form input[type="password"]:hover {
  border-color: #bdc3c7;
}
.content-20 .signup-form form input[type="text"]:focus,
.content-20 .signup-form form input[type="password"]:focus {
  border-color: #3498db;
}
.content-20 .signup-form form .site-link {
  width: 104%;
}
.content-20 .signup-form form .site-link input[type="text"],
.content-20 .signup-form form .site-link input[type="password"] {
  width: 64.4%;
  margin-right: 5%;
}
.content-20 .signup-form form .site-link b {
  display: block;
  float: right;
  padding-top: 7px;
  text-align: right;
  width: 25.9%;
}
.content-20 .signup-form form .btn {
  height: 54px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 17px;
  font-weight: normal;
  color: #ffffff;
  width: 100%;
}
@media (max-width: 767px) {
  .content-20 .signup-form form {
    display: block;
    margin: 0 -20px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  .content-20 .signup-form form {
    width: 100%;
  }
  .content-20 .signup-form form input[type="text"],
  .content-20 .signup-form form input[type="password"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }
  .content-20 .signup-form form .control-group.pull-left {
    margin-right: 0;
    width: 100%;
    float: none;
  }
  .content-20 .signup-form form .control-group.pull-right {
    margin-left: 0;
    width: 100%;
    float: none;
  }
}
@media (max-width: 468px) {
  .content-20 .signup-form form .site-link input[type="text"] {
    width: 61.4%;
  }
}
@media (min-width: 979px) and (max-width: 1200px) {
  .content-20 .signup-form form .site-link input[type="text"] {
    width: 61.4%;
  }
}
.content-20 .features {
  margin-top: 6px;
  font-size: 14px;
  font-weight: normal;
  color: #95a5a6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-20 .features big {
  display: block;
  font-size: 22px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 8px;
}
.content-20 .features h6 {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 38px;
}
@media (max-width: 767px) {
  .content-20 .features h6 {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .content-20 .features > * + * {
    margin-top: 30px;
  }
}
.content-21 {
  position: relative;
  padding-top: 140px;
  padding-bottom: 0;
}
.content-21 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-bottom: 55px;
  font-weight: 300;
}
@media (max-width: 480px) {
  .content-21 {
    padding-bottom: 20px;
  }
}
.content-21 .features.features-tabs .features-header {
  *zoom: 1;
  background: #34495e;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
}
.content-21 .features.features-tabs .features-header:before,
.content-21 .features.features-tabs .features-header:after {
  display: table;
  content: "";
}
.content-21 .features.features-tabs .features-header:after {
  clear: both;
}
.content-21 .features.features-tabs .features-header:before,
.content-21 .features.features-tabs .features-header:after {
  display: table;
  content: "";
  line-height: 0;
}
.content-21 .features.features-tabs .features-header:after {
  clear: both;
}
.content-21 .features.features-tabs .features-header .box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 5px;
  float: left;
  width: 33%;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  color: #bdc3c7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 3px;
  border-left: 2px solid #304357;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.19em;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.content-21 .features.features-tabs .features-header .box:first-child {
  border-left: 0;
}
.content-21 .features.features-tabs .features-header .box.active {
  color: white;
}
.content-21 .features.features-tabs .features-header .box.active [class*="fui-"] {
  color: white;
}
.content-21 .features.features-tabs .features-header .box [class*="fui-"] {
  display: block;
  font-size: 24px;
  font-weight: normal;
  color: #bdc3c7;
  line-height: 30.9667px;
  margin-bottom: 15px;
}
.content-21 .features.features-tabs .features-bodies {
  position: relative;
  background: #ebedee url('../../../common-files/img/content/screen@2x.png') 0 50% no-repeat;
  -webkit-background-size: 322px 418px;
  -moz-background-size: 322px 418px;
  -o-background-size: 322px 418px;
  background-size: 322px 418px;
}
@media (max-width: 979px) {
  .content-21 .features.features-tabs .features-bodies {
    background-position: -15% 50%;
  }
}
@media (max-width: 600px) {
  .content-21 .features.features-tabs .features-bodies {
    background-image: none;
  }
}
.content-21 .features.features-tabs .features-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 120px 50px 120px 50%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.6s opacity;
  -moz-transition: 0.6s opacity;
  -o-transition: 0.6s opacity;
  transition: 0.6s opacity;
}
@media (max-width: 600px) {
  .content-21 .features.features-tabs .features-body {
    padding: 120px 50px 120px 50px;
  }
}
.content-21 .features.features-tabs .features-body.active {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 1;
}
.content-21 .features.features-tabs .features-body h6 {
  text-transform: none;
  margin: 0 0 30px;
  font-size: 20px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-21 .features.features-tabs .features-body p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  margin-bottom: 40px;
}
@media (max-width: 480px) {
  .content-21 .features.features-tabs .features-header .box {
    font-size: 10px;
    font-weight: normal;
    color: #7f8c8d;
  }
  .content-21 .features.features-tabs .features-bodies {
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
  }
  .content-21 .features.features-tabs .features-body {
    padding: 60px 20px 60px 20px;
  }
}
.content-22 {
  position: relative;
  color: #bdc3c7;
  overflow: hidden;
  padding: 80px 0;
}
@media (max-width: 767px) {
  .content-22 {
    padding: 40px;
  }
}
.content-22 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 40px 0;
  font-weight: 300;
}
@media (max-width: 767px) {
  .content-22 h3 {
    margin-top: 0;
    margin-bottom: 30px;
  }
}
.content-22 h6 {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: none;
}
.content-22 p {
  font-size: 18px;
  font-weight: normal;
  color: #bdc3c7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 50px;
}
.content-22 .span8 {
  position: relative;
  padding-top: 600px;
}
@media (max-width: 767px) {
  .content-22 .span8 {
    padding-top: 50px;
  }
}
.content-22 .description {
  font-size: 14px;
  font-weight: normal;
  color: #bdc3c7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  max-width: 220px;
  background: url("../../../common-files/img/content/line-l@2x.png") no-repeat scroll center top / 50% auto rgba(0, 0, 0, 0);
  padding-top: 110px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform-origin: 200% 100%;
  -moz-transform-origin: 200% 100%;
  -ms-transform-origin: 200% 100%;
  -o-transform-origin: 200% 100%;
  transform-origin: 200% 100%;
  -webkit-transform: rotate(26deg);
  -moz-transform: rotate(26deg);
  -ms-transform: rotate(26deg);
  -o-transform: rotate(26deg);
  transform: rotate(26deg);
}
.content-22 .description img {
  position: absolute;
  bottom: 110%;
  left: 50%;
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.content-22.ani-processed .description {
  -webkit-backface-visibility: hidden;
  -webkit-transition: .8s 3.4s;
  -moz-transition: .8s 3.4s;
  -o-transition: .8s 3.4s;
  transition: .8s 3.4s;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.content-22.ani-processed .description img {
  -webkit-backface-visibility: hidden;
  -webkit-transition: .4s 3.8s;
  -moz-transition: .4s 3.8s;
  -o-transition: .4s 3.8s;
  transition: .4s 3.8s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.content-22 .img {
  position: absolute;
  top: 0;
  left: 2%;
}
.content-22 .img img {
  max-width: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  top: -100%;
}
.content-22 .img img:first-child {
  position: static;
  visibility: hidden;
}
.content-22.ani-processed .img img {
  -webkit-backface-visibility: hidden;
  -webkit-transition: .8s top, 1.2s opacity;
  -moz-transition: .8s top, 1.2s opacity;
  -o-transition: .8s top, 1.2s opacity;
  transition: .8s top, 1.2s opacity;
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0;
}
.content-22.ani-processed .img img:nth-child(2) {
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
.content-22.ani-processed .img img:nth-child(3) {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.content-22.ani-processed .img img:nth-child(4) {
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.content-22.ani-processed .img img:nth-child(5) {
  -webkit-transition-delay: 1.2s;
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
.content-22.ani-processed .img img:nth-child(6) {
  -webkit-transition-delay: 1.6s;
  -moz-transition-delay: 1.6s;
  -o-transition-delay: 1.6s;
  transition-delay: 1.6s;
}
.content-22.ani-processed .img img:nth-child(7) {
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
}
.content-22.ani-processed .img img:nth-child(8) {
  -webkit-transition-delay: 2.4s;
  -moz-transition-delay: 2.4s;
  -o-transition-delay: 2.4s;
  transition-delay: 2.4s;
}
@media (max-width: 480px) {
  .content-22 .description {
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
  }
}
.content-22 .btn.btn-clear {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 26px 8px;
  background: none;
  border: 2px solid #2ecc71;
  font-size: 14px;
  font-weight: normal;
  color: #2ecc71;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-22 .btn.btn-clear:hover,
.content-22 .btn.btn-clear:focus {
  background: #2ecc71;
  color: white;
}
.content-22 .btn.btn-clear:active,
.content-22 .btn.btn-clear.active {
  border-color: #27ad60;
  background: #27ad60;
  color: rgba(255, 255, 255, 0.75);
}
.content-23 {
  position: relative;
  height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.content-23.v-center,
.content-23 .v-center {
  display: table;
  width: 100%;
}
.content-23.v-center > div,
.content-23 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-23.v-center.row:before,
  .content-23 .v-center.row:before,
  .content-23.v-center.row:after,
  .content-23 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-23.v-center,
  .content-23 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content-23.v-center.row,
  .content-23 .v-center.row {
    display: block;
    width: auto;
  }
  .content-23.v-center.row:before,
  .content-23 .v-center.row:before,
  .content-23.v-center.row:after,
  .content-23 .v-center.row:after {
    display: none;
  }
  .content-23.v-center.row > *,
  .content-23 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.content-23 .control-btn {
  width: 53px;
  height: 53px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 19px;
  font-weight: normal;
  color: #7f8c8d;
  background: #121518;
  color: #ffffff;
  opacity: 0.3;
  filter: alpha(opacity=30);
  position: absolute;
  left: 50%;
  bottom: 90px;
  margin-left: -26.5px;
}
.content-23 .control-btn:hover,
.content-23 .control-btn:focus,
.content-23 .control-btn.active {
  color: #ffffff;
}
.content-23 .control-btn:hover,
.content-23 .control-btn:focus,
.content-23 .control-btn:active,
.content-23 .control-btn.active {
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .content-23 .control-btn {
    bottom: 30px;
  }
}
.content-23 .hero-unit {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.content-23 .hero-unit h1 {
  margin: 0 0 30px;
  font-size: 48px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 600;
  line-height: 56px;
}
@media (max-width: 480px) {
  .content-23 .hero-unit h1 {
    font-size: 36px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 600;
    line-height: 33px;
  }
}
.content-23 .hero-unit.hero-unit-bordered h1 {
  font-size: 46px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  border: 8px solid white;
  display: inline-block;
  margin: 0;
  padding: 30px 40px;
}
@media (max-width: 767px) {
  .content-23 .hero-unit.hero-unit-bordered h1 {
    font-size: 28px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 600;
  }
}
.content-24 {
  position: relative;
  padding: 140px 0;
  color: #bdc3c7;
  overflow: hidden;
}
.content-24 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 40px;
  font-weight: 300;
}
.content-24 img.image {
  display: inline-block;
  position: absolute;
  right: 50%;
  margin-right: 100px;
}
.content-24 .span6.offset6 {
  position: relative;
}
.content-24 .features.features-clear .features-header {
  *zoom: 1;
  margin-bottom: 60px;
}
.content-24 .features.features-clear .features-header:before,
.content-24 .features.features-clear .features-header:after {
  display: table;
  content: "";
}
.content-24 .features.features-clear .features-header:after {
  clear: both;
}
.content-24 .features.features-clear .features-header:before,
.content-24 .features.features-clear .features-header:after {
  display: table;
  content: "";
  line-height: 0;
}
.content-24 .features.features-clear .features-header:after {
  clear: both;
}
.content-24 .features.features-clear .features-header .box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 50px;
  color: #667380;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.content-24 .features.features-clear .features-header .box:first-child {
  margin-left: 0;
}
.content-24 .features.features-clear .features-header .box.active {
  color: #27ae60;
}
.content-24 .features.features-clear .features-header .box [class*="fui-"] {
  display: block;
  font-size: 24px;
  font-weight: normal;
  color: inherit;
}
.content-24 .features.features-clear .features-bodies {
  position: relative;
}
.content-24 .features.features-clear .features-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.6s opacity;
  -moz-transition: 0.6s opacity;
  -o-transition: 0.6s opacity;
  transition: 0.6s opacity;
}
.content-24 .features.features-clear .features-body.active {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 1;
}
.content-24 .features.features-clear .features-body p {
  margin-bottom: 45px;
}
.content-24 .btn.btn-clear {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 26px 8px;
  background: none;
  border: 2px solid #2ecc71;
  font-size: 14px;
  font-weight: normal;
  color: #2ecc71;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-24 .btn.btn-clear:hover,
.content-24 .btn.btn-clear:focus {
  background: #2ecc71;
  color: white;
}
.content-24 .btn.btn-clear:active,
.content-24 .btn.btn-clear.active {
  border-color: #27ad60;
  background: #27ad60;
  color: rgba(255, 255, 255, 0.75);
}
@media (max-width: 480px) {
  .content-24 {
    padding: 35px;
  }
  .content-24 img.image {
    position: relative;
    margin-bottom: 48px;
    right: 0;
  }
  .content-24 .features.features-clear .features-header {
    margin-bottom: 48px;
  }
  .content-24 .features.features-clear .features-body p {
    margin-bottom: 48px;
  }
}
@media (max-width: 767px) {
  .content-24 {
    padding: 35px;
  }
  .content-24 img.image {
    position: relative;
    margin-bottom: 48px;
    right: 0;
  }
  .content-24 .features.features-clear .features-header {
    margin-bottom: 48px;
  }
  .content-24 .features.features-clear .features-body p {
    margin-bottom: 48px;
  }
}
.content-25 {
  position: relative;
  padding: 95px 0;
}
@media (max-width: 767px) {
  .content-25 {
    padding: 40px 20px;
  }
  .content-25 .svg,
  .content-25 .nosvg {
    display: block;
    text-align: center;
    float: none;
    margin-top: 45px;
  }
}
.content-25 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-25 p {
  font-size: 18px;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 45px;
  font-weight: normal;
}
.content-25 svg,
.content-25 .svg {
  max-width: 100%;
}
.content-25 .nosvg {
  display: none;
}
.content-26 {
  position: relative;
  padding-top: 125px;
  padding-bottom: 125px;
  text-align: center;
}
.content-26 .lead {
  font-size: 22px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 0;
}
.content-26 h3 {
  font-size: 35px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 36px;
}
@media (max-width: 767px) {
  .content-26 .features {
    margin-top: -52px;
  }
}
.content-26 .features h6 {
  text-transform: none;
  margin-top: 37px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.content-26 .features > * {
  margin-top: 67px;
}
.content-27 {
  position: relative;
  padding: 120px 0;
}
.content-27 svg,
.content-27 .svg {
  max-width: 100%;
}
.content-27 .nosvg {
  display: none;
}
@media (max-width: 767px) {
  .content-27 .svg,
  .content-27 .nosvg {
    text-align: center;
    float: none;
    margin-bottom: 45px;
  }
  .content-27 .svg {
    display: block;
  }
}
.content-27 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  margin-bottom: 43px;
  font-weight: 300;
}
.content-27 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 29.6px;
}
.content-27 .btn {
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 979px) {
  .content-27 h3,
  .content-27 p {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.content-27 .btns {
  margin-top: 45px;
}
.content-27 .btns > * {
  display: inline-block;
  margin-left: 32px;
  vertical-align: middle;
}
.content-27 .btns > *:first-child {
  margin-left: 0;
}
.content-27 .btns .btn[class*="fui-"] {
  float: left;
  font-size: 26px;
  font-weight: normal;
  color: #ffffff;
  margin: 0 18px 0 0;
}
@media (max-width: 979px) {
  .content-27 .btns .btn {
    display: block;
    margin: 0 20px 20px;
  }
  .content-27 .btns .btn:not(:first-child) {
    float: left;
  }
}
@media (max-width: 480px) {
  .content-27 .btns .btn:not(:first-child) {
    float: none;
    color: white;
  }
  .content-27 .btns .btn:not(:first-child):focus {
    outline: none;
  }
}
@media (min-width: 481px) {
  .content-27 .btns > *:not(:first-child) {
    padding: 0;
    background: transparent;
    color: #34495e;
  }
  .content-27 .btns > *:not(:first-child):hover,
  .content-27 .btns > *:not(:first-child):focus {
    color: #5d6d7e;
  }
  .content-27 .btns > *:not(:first-child):active,
  .content-27 .btns > *:not(:first-child).active {
    color: #2c3e50;
  }
  .content-27 .btns > *:not(:first-child) [class*="fui-"] {
    font-size: 30px;
    font-weight: normal;
    color: inherit;
    margin: 0;
  }
  .content-27 .btns > *:not(:first-child) :not([class*="fui-"]) {
    display: none;
  }
}
@media (max-width: 480px) {
  .content-27 .btns > * {
    display: block;
    margin: 0;
  }
  .content-27 .btns > * + * {
    margin-top: 10px;
  }
}
.content-28 {
  position: relative;
  overflow: hidden;
  padding-top: 128px;
  padding-bottom: 0;
  text-align: center;
}
.content-28 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 40px;
  font-weight: 300;
}
.content-28 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-28 .span10 > img {
  width: 100%;
  margin-top: 50px;
  position: relative;
}
@media (max-width: 480px) {
  .content-28 {
    padding-top: 100px;
  }
}
.content-29 {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.content-29 .player {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: rgba(52, 152, 219, 0.1);
  position: relative;
  overflow: hidden;
  width: 1024px;
  height: 576px;
  margin: 30px auto 40px;
}
.content-29 .player .btn-play {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  margin: -20px 0 0 -30px;
  padding-left: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.content-29 .player > iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
@media (max-width: 1200px) {
  .content-29 .player {
    width: 768px;
    height: 432px;
  }
}
@media (max-width: 1000px) {
  .content-29 .player {
    width: 720px;
    height: 406px;
  }
}
@media (max-width: 840px) {
  .content-29 .player {
    width: 568px;
    height: 319px;
  }
}
@media (max-width: 768px) {
  .content-29 .player {
    width: 500px;
    max-height: 270px;
  }
}
@media (max-width: 568px) {
  .content-29 .player {
    width: 300px;
    max-height: 180px;
  }
}
.content-30 {
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
}
@media (max-width: 480px) {
  .content-30 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.content-30 .features > * {
  position: relative;
  text-align: center;
}
.content-30 .features .description-top,
.content-30 .features .description-bottom {
  position: absolute;
  width: 100%;
  text-align: left;
}
.content-30 .features .description-top {
  top: 0;
}
.content-30 .features .description-bottom {
  bottom: 0;
}
.content-30 .features .description-top,
.content-30 .features .description-bottom,
.content-30 .features .img img + img {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.content-30 .features > *:hover .description-top,
.content-30 .features > *:hover .description-bottom,
.content-30 .features > *:hover .img img + img {
  opacity: 1;
  filter: alpha(opacity=100);
}
.content-30 .features .img {
  position: relative;
  display: inline-block;
  margin: 150px auto;
}
.content-30 .features .img img + img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.content-30 .features h6 {
  text-transform: none;
  font-size: 16px;
  font-weight: normal;
  color: #1abc9c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-30 .features img[src*="arrow-"] {
  position: absolute;
}
.content-30 .features img[src*="arrow-tl"] {
  right: 110%;
  top: 30px;
}
.content-30 .features img[src*="arrow-tr"] {
  left: 110%;
  top: 30px;
}
.content-30 .features img[src*="arrow-bl"] {
  right: 110%;
  bottom: 20px;
}
.content-30 .features img[src*="arrow-br"] {
  left: 110%;
  bottom: 20px;
}
.content-30 .features .box-1 .description-top,
.content-30 .features .box-2 .description-top {
  left: 105%;
}
.content-30 .features .box-3 .description-top,
.content-30 .features .box-4 .description-top {
  right: 105%;
}
.content-30 .features .box-1 .description-bottom,
.content-30 .features .box-3 .description-bottom {
  left: 105%;
}
.content-30 .features .box-2 .description-bottom,
.content-30 .features .box-4 .description-bottom {
  right: 105%;
}
@media (max-width: 767px) {
  .content-30 .features .description-top,
  .content-30 .features .description-bottom {
    position: static;
    text-align: center;
  }
  .content-30 .features .img {
    margin: 60px auto;
  }
  .content-30 .features img[src*="arrow-"] {
    display: none;
  }
}
@media (max-width: 480px) {
  .content-30 .features .description-top,
  .content-30 .features .description-bottom,
  .content-30 .features .img img + img {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .content-30 .features > * + * {
    margin-top: 60px;
  }
  .content-30 .features .img {
    margin: 15px auto;
  }
  .content-30 .features .description-top,
  .content-30 .features .description-bottom {
    width: 220px;
    margin: 0 auto;
    text-align: left;
  }
  .content-30 .features .description-top {
    margin-bottom: 30px;
  }
  .content-30 .features h6 {
    margin-bottom: 5px;
  }
}
.content-31 {
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
}
.content-31 .container {
  position: relative;
  padding: 50px 0;
}
.content-31 .container:before {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  top: 0;
  height: 100%;
  border-left: 2px solid #ebedee;
}
.content-31 .container > * {
  padding: 100px 0;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.6s opacity;
  -moz-transition: 0.6s opacity;
  -o-transition: 0.6s opacity;
  transition: 0.6s opacity;
}
.content-31 .container h3 {
  margin: 0 0 30px;
  font-size: 40px;
  color: #7f8c8d;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.6s color;
  -moz-transition: 0.6s color;
  -o-transition: 0.6s color;
  transition: 0.6s color;
}
.content-31 .container .number {
  position: absolute;
  left: -4px;
  margin-top: 4px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  background: #ebedee;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.6s background-color;
  -moz-transition: 0.6s background-color;
  -o-transition: 0.6s background-color;
  transition: 0.6s background-color;
}
.content-31 .container .active > .number {
  background: #1abc9c;
}
.content-31 .container .box {
  margin-top: 70px;
  text-align: center;
}
.content-31 .container .img {
  display: inline-block;
  position: relative;
}
.content-31 .container .img img {
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.6s opacity;
  -moz-transition: 0.6s opacity;
  -o-transition: 0.6s opacity;
  transition: 0.6s opacity;
}
.content-31 .container .img img + img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none;
  opacity: 0;
  filter: alpha(opacity=0);
}
.content-31 .container .active {
  opacity: 1;
  filter: alpha(opacity=100);
}
.content-31 .container .active h3 {
  color: #1abc9c;
}
.content-31 .container .active .img img:first-child {
  opacity: 0;
  filter: alpha(opacity=0);
}
.content-31 .container .active .img img + img {
  opacity: 1;
  filter: alpha(opacity=100);
}
.content-31 .container .pt-perspective {
  position: relative;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.content-31 .container .pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.content-31 .container .pt-page-current,
.content-31 .container .no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.content-31 .container .pt-page-ontop {
  z-index: 999;
}
.content-31 .container .pt-controls {
  position: absolute;
  left: 0;
  right: 0;
}
@media (min-width: 1200px) {
  .content-31 .container .pt-controls {
    bottom: 120px;
  }
}
@media (min-width: 723px) and (max-width: 1200px) {
  .content-31 .container .pt-controls {
    bottom: 90px;
  }
}
@media (min-width: 643px) and (max-width: 722px) {
  .content-31 .container .pt-controls {
    bottom: 120px;
  }
}
@media (min-width: 611px) and (max-width: 642px) {
  .content-31 .container .pt-controls {
    bottom: 80px;
  }
}
@media (min-width: 400px) and (max-width: 611px) {
  .content-31 .container .pt-controls {
    bottom: 120px;
  }
}
.content-31 .container .pt-controls > * {
  position: relative;
  z-index: 9999;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #e74c3c;
}
.content-31 .container .pt-control-prev {
  float: left;
}
.content-31 .container .pt-control-next {
  float: right;
}
.content-31 .container .pt-first .pt-control-prev {
  z-index: auto;
  background: none;
  border: 3px solid #ebedee;
  pointer-events: none;
}
.content-31 .container .pt-last .pt-control-next {
  z-index: auto;
  background: none;
  border: 3px solid #ebedee;
  pointer-events: none;
}
@media (max-width: 767px) {
  .content-31 .container {
    padding-left: 50px;
  }
}
@media (max-width: 480px) {
  .content-31 .container > * {
    padding: 40px 0;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .content-31 .container .number {
    background: #1abc9c;
  }
  .content-31 .container h3 {
    color: #1abc9c;
    font-size: 30px;
  }
  .content-31 .container .img img:first-child {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .content-31 .container .img img + img {
    margin-top: 30px;
    max-width: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .content-31 .container .pt-controls {
    display: none;
  }
  .content-31 .container .box {
    margin: 0 0 30px;
  }
}
.content-32 {
  position: relative;
  padding-top: 50px;
  padding-bottom: 45px;
  text-align: center;
  background-color: #FFFFFF;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-top: 2px solid #ebedee;
  border-bottom: 2px solid #ebedee;
}
.content-32 .lead {
  font-size: 20px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 36px;
}
.content-32 h3 {
  font-size: 35px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 40px;
  margin: 0 0 0px;
}
.content-32 h5 {
  font-size: 16px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 25px;
  margin: 10 0 0px;
}
.content-32 .features {
  margin-top: 20px;
  padding-top: 25px;
  font-size: 16px;
  line-height: 170px;
  text-align: center;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .content-32 .features {
    padding-top: 70px;
  }
}
.content-32 .features h6 {
  text-transform: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #2c3e50;
  margin: 10 0 20px;
}

.content-32 .photo-wrapper {
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #ecf0f1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.content-32 .photo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background: 50% 50% no-repeat;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.content-32 .members .photo img {
  display: none;
}

@media (max-width: 767px) {
  .content-32 .features h6 {
    margin: 20px 0 10px;
  }
}
@media (max-width: 767px) {
  .content-32 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.content-33 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 85px;
  padding-bottom: 80px;
  border-top: 2px solid #ebedee;
  border-bottom: 2px solid #ebedee;
}
.content-33 .lead {
  font-size: 30px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 44px;
  color: #34495e;
  font-weight: 300;
}

.content-33 .features {
  margin-top: 10px;
  padding-top: 15px;
  font-size: 16px;
  text-align: left;
}
  .content-33 .features .img {
    margin: 20px auto;
  }
.content-34 {
  position: relative;
  overflow: hidden;
  background: #f3f3f3;
}
@media (max-width: 767px) {
  .content-34 {
    max-height: 100%;
  }
  .content-34 .pt-controls {
    margin: 0 !important;
    padding: 0 !important;
  }
}
.content-34 .pt-perspective {
  position: relative;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.content-34 .pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.content-34 .pt-page-current,
.content-34 .no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.content-34 .pt-page-ontop {
  z-index: 999;
}
.content-34 .pt-controls {
  position: absolute;
  top: 50%;
  left: 30px;
  z-index: 9999;
}
.content-34 .pt-controls .pt-indicators {
  list-style: none;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.content-34 .pt-controls .pt-indicators li {
  float: none;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin: 15px 0 0;
  padding: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  border: 2px solid #d3d3d3;
  border: 2px solid rgba(81, 81, 81, 0.2);
  background: transparent;
}
.content-34 .pt-controls .pt-indicators li.active {
  border: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.loaded .content-34 .pt-controls .pt-indicators {
  -webkit-backface-visibility: hidden;
  -webkit-transition: 1.2s 1.6s opacity;
  -moz-transition: 1.2s 1.6s opacity;
  -o-transition: 1.2s 1.6s opacity;
  transition: 1.2s 1.6s opacity;
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 767px) {
  .content-34 .pt-controls {
    top: auto;
    bottom: 30px;
    left: 0;
    right: 0;
    margin-top: 0 !important;
  }
  .content-34 .pt-controls .pt-indicators {
    text-align: center;
  }
  .content-34 .pt-controls .pt-indicators li {
    display: inline-block;
    margin: 0 7.5px;
  }
}
.content-34 .pt-controls li.active {
  background: #2c3e50;
}
.content-34 .container {
  background: #f3f3f3;
  padding-top: 125px;
  padding-bottom: 80px;
  color: #7f8c8d;
}
.content-34 h2 {
  margin: 0 0 20px;
  font-size: 35px;
  line-height: 40px;
  color: #2c3e50;
  font-weight: 300;
}
.content-34 .lead {
  font-size: 20px;
  line-height: 36px;
  margin: 0 0 50px;
}
.content-34 .box-1,
.content-34 .box-2 {
  margin-bottom: 50px;
}
.content-34 .box-1 h3,
.content-34 .box-2 h3 {
  font-size: 20px;
  line-height: 28px;
  color: #34495e;
  font-weight: 500;
  margin: 0 0 15px;
}
.content-34 .box-1 p,
.content-34 .box-2 p {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
}
.content-34 .box-1 {
  padding-top: 105px;
  background: url(../../../common-files/img/content/icon-1.png) no-repeat;
}
.content-34 .box-2 {
  padding-top: 85px;
  background: url(../../../common-files/img/content/icon-2.png) no-repeat;
}
.content-35 {
  position: relative;
  color: #7f8c8d;
  padding-top: 140px;
  padding-bottom: 145px;
}
.content-35 > * {
  position: relative;
}
.content-35 h2 {
  font-size: 35px;
  line-height: 40px;
  color: #2c3e50;
  font-weight: 300;
  margin: 0 0 45px;
}
.content-35 .lead {
  font-size: 20px;
  line-height: 36px;
  margin: 0 0 40px;
}
.content-35 .btn {
  font-weight: 500;
  padding-left: 26px;
  padding-right: 26px;
  margin-bottom: 20px;
}
.content-35 .btn.btn-inverse {
  background: #2c3e50;
}
.content-35 .columns {
  margin-top: 60px;
}
.content-35 .columns h3 {
  font-size: 20px;
  color: #34495e;
  line-height: 28px;
  margin: 0 0 20px;
  font-weight: 500;
}
.content-35 .columns p {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
}
.content-35 .background {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.content-35 .background > .container {
  height: 100%;
}
@media (max-width: 767px) {
  .content-35 .background > .container {
    height: 250px;
    margin-bottom: 60px;
  }
}
.content-35 .background .span4 {
  position: absolute;
  height: 100%;
}
.content-35 .background .span4 > div {
  position: absolute;
  right: 0;
  height: 100%;
  width: 1000px;
  background: #f3f3f3;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 767px) {
  .content-35 .background .span4 > div {
    position: static;
    width: 100%;
    overflow: hidden;
  }
}
.content-35 .background .span4 > div img {
  height: 100%;
  width: auto;
}
@media (max-width: 767px) {
  .content-35 .background .span4 > div img {
    height: auto;
    min-height: 250px;
  }
}
@media (max-width: 767px) {
  .content-35 .background {
    position: static;
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media (max-width: 767px) {
  .content-35 {
    padding-top: 0;
  }
}
.content-36 {
  background: #1b1f23;
  text-align: center;
  color: #95a5a6;
  padding-top: 230px;
  padding-bottom: 180px;
}
.content-36 h2 {
  color: #fff;
  font-size: 46px;
  line-height: 55px;
  margin: 0 0 60px;
  letter-spacing: -2px;
}
.content-36 .btn {
  background: #27ae60;
  font-size: 22px;
  font-weight: 500;
  padding: 15px 46px;
  margin: 0 0 55px;
}
.content-36 p {
  margin: 0 auto;
  width: 48%;
  font-size: 20px;
  line-height: 31px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .content-36 p {
    width: 80%;
  }
}
.content-37 {
  border-top: 0;
  padding-top: 130px;
  padding-bottom: 130px;
}
@media (max-width: 767px) {
  .content-37 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.content-37 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-weight: 300;
  margin: 0 0 38px;
  text-align: center;
}
.content-37 .signup-form form {
  margin: 30px auto 0;
}
.content-37 .signup-form form input {
  border: 2px solid #dee1e3;
}
.content-37 .signup-form form input,
.content-37 .signup-form form button {
  float: left;
  width: 21.8%;
  margin: 0 0 0 2.3%;
}
@media (min-width: 1200px) {
  .content-37 .signup-form form input,
  .content-37 .signup-form form button {
    width: 22%;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  .content-37 .signup-form form input,
  .content-37 .signup-form form button {
    width: 21.4%;
  }
}
@media (max-width: 767px) {
  .content-37 .signup-form form input,
  .content-37 .signup-form form button {
    width: 23.2%;
  }
}
@media (max-width: 480px) {
  .content-37 .signup-form form input,
  .content-37 .signup-form form button {
    width: 100%;
    margin: 10px 0 0;
    display: block;
    float: none;
    height: 41px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.content-37 .signup-form form input:first-child,
.content-37 .signup-form form button:first-child {
  margin: 0;
}
.content-37 .signup-form form input:focus {
  border-color: #3498db !important;
}
