/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/*only fo flat-ui free*/body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 62.006px /* 64px */;
}
h2,
.h2 {
  font-size: 51.996px /* 52px */;
}
h3,
.h3 {
  font-size: 39.998000000000005px /* 40px */;
}
h4,
.h4 {
  font-size: 28.994000000000003px /* 29px */;
}
h5,
.h5 {
  font-size: 28px /* 28px */;
}
h6,
.h6 {
  font-size: 23.996px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */

  line-height: 1.722169;
  /* 31px */

}
.lead {
  font-size: 28px;
  /* 28px */

  line-height: 1.4642745000000001;
  /* 41px */

  font-weight: 300;
}
small {
  font-size: 84%;
  /* 15px */

  line-height: 2.050846;
  /* 31px */

}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  box-shadow: none;
}
/* end only for flat-ui free*/
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
@media (max-width: 768px) {
  .background {
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.nav-visible .navbar .nav-collapse .nav > li > a:hover,
.nav-visible .navbar .nav-collapse .nav > li > li a:focus {
  background-color: transparent;
}
.nav-visible .nav-collapse .navbar-form,
.nav-visible .nav-collapse .navbar-search {
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
  margin: 10px 0;
  padding: 10px 15px;
}
.nav-visible .nav-collapse .navbar-form a.btn,
.nav-visible .nav-collapse .navbar-search a.btn {
  border-color: white;
  color: white;
}
.nav-visible .nav-collapse .navbar-form a.btn:hover,
.nav-visible .nav-collapse .navbar-search a.btn:hover,
.nav-visible .nav-collapse .navbar-form a.btn:focus,
.nav-visible .nav-collapse .navbar-search a.btn:focus {
  color: #7f8c8d;
  background-color: white;
}
/**
 * Crew 1 stylesheet  
 * */
.crew-1 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.crew-1 h3 {
  margin: 0 0 73px;
  font-size: 30px;
  text-align: left;
  font-weight: 300;
}
.crew-1 .members {
  display: table;
  width: 100%;
}
.crew-1 .members + .members {
  margin-top: 80px;
}
.crew-1 .members .member-wrapper {
  display: table-cell;
}
.crew-1 .members .member-wrapper:first-child + .member-wrapper {
  text-align: center;
}
.crew-1 .members .member-wrapper:first-child + .member-wrapper + .member-wrapper {
  text-align: right;
}
.crew-1 .members .member {
  width: 220px;
  display: inline-block;
}
.crew-1 .members .photo-wrapper {
  width: 220px;
  height: 250px;
  position: relative;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #ecf0f1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.crew-1 .members .photo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background: 50% 50% no-repeat;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.crew-1 .members .photo img {
  display: none;
}
.crew-1 .members .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  line-height: 220px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.crew-1 .members .overlay [class*="fui-"] {
  font-size: 46px;
}
.crew-1 .members .info {
  text-align: center;
  font-size: 14px;
  color: #95a5a6;
  margin-top: 36px;
}
.crew-1 .members .name {
  color: #34495e;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.crew-1 .members .member:hover .photo-wrapper {
  background-color: #1abc9c;
}
.crew-1 .members .member:hover .photo {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.crew-1 .members .member:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}
.crew-1 .members .member:hover .name {
  color: #1abc9c;
}
@media (max-width: 767px) {
  .crew-1 .members {
    display: block;
    width: auto;
  }
  .crew-1 .members .member-wrapper {
    display: block;
    text-align: center!important;
  }
  .crew-1 .members .member-wrapper + .member-wrapper {
    margin-top: 80px;
  }
}
/**
 * Crew 2 stylesheet  
 * */
.crew-2 {
  padding-top: 110px;
  padding-bottom: 88px;
}
.crew-2 h3 {
  margin: 0 0 73px;
  font-size: 30px;
  text-align: left;
  font-weight: 300;
}
.crew-2 .members {
  display: table;
  width: 100%;
}
.crew-2 .members .member-wrapper {
  display: table-cell;
}
.crew-2 .members .member-wrapper:first-child + .member-wrapper {
  text-align: center;
}
.crew-2 .members .member-wrapper:first-child + .member-wrapper + .member-wrapper {
  text-align: right;
}
.crew-2 .members .member {
  width: 265px;
  display: inline-block;
  padding-bottom: 23px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: border-color 0.4s;
  -moz-transition: border-color 0.4s;
  -o-transition: border-color 0.4s;
  transition: border-color 0.4s;
}
.crew-2 .members + .members .member {
  padding-top: 78px;
  border-top: 2px solid #ebedee;
}
.crew-2 .members .photo-wrapper {
  width: 265px;
  height: 180px;
  position: relative;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #ecf0f1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.crew-2 .members .photo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background: 50% 50% no-repeat;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.crew-2 .members .photo img {
  display: none;
}
.crew-2 .members .info {
  text-align: center;
  font-size: 14px;
  color: #7f8c8d;
  margin-top: 29px;
}
.crew-2 .members .name {
  position: absolute;
  left: 19px;
  bottom: 19px;
  color: #fff;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.14em;
}
.crew-2 .members .position {
  position: absolute;
  right: 19px;
  bottom: 19px;
  color: #fff;
  font-size: 13px;
  font-style: italic;
}
.crew-2 .members .social-btns {
  white-space: nowrap;
  margin-top: 24px;
}
.crew-2 .members .social-btns > * {
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  text-align: center;
  color: #1abc9c;
}
.crew-2 .members .social-btns > *:first-child {
  margin-left: 0;
}
.crew-2 .members .social-btns > * > * {
  display: block;
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.crew-2 .members .social-btns > * > *:first-child {
  color: #95a5a6;
}
.crew-2 .members .social-btns > *:hover > * {
  top: -100%;
}
.crew-2 .members .member:hover .photo-wrapper {
  background-color: #1abc9c;
}
.crew-2 .members .member:hover .photo {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
@media (max-width: 979px) and (min-width: 768px) {
  .crew-2 .members .member,
  .crew-2 .members .photo-wrapper {
    width: 230px;
  }
}
@media (max-width: 767px) {
  .crew-2 .members {
    display: block;
    width: auto;
  }
  .crew-2 .members .member-wrapper {
    display: block;
    text-align: center!important;
  }
  .crew-2 .members .member-wrapper + .member-wrapper .member {
    padding-top: 78px;
    border-top: 2px solid #ebedee;
  }
}
/**
 * Crew 3 stylesheet  
 * */
.crew-3 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.crew-3 h3 {
  margin: 0 0 20px;
  font-size: 30px;
  text-align: left;
  font-weight: 300;
}
@media (max-width: 767px) {
  .crew-3 h3 {
    margin-bottom: 25px;
  }
}
.crew-3 .title {
  margin: 0 0 80px;
  line-height: 1.5;
}
.crew-3 .title a {
  color: #bdc3c7;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 22px;
  letter-spacing: 0.19em;
}
.crew-3 .title a:hover,
.crew-3 .title a:focus,
.crew-3 .title a.active {
  color: #1abc9c;
}
.crew-3 .title .social-btns a {
  color: #1abc9c;
  font-size: 16px;
  margin-right: 12px;
}
.crew-3 .title .social-btns a:hover,
.crew-3 .title .social-btns a:focus,
.crew-3 .title .social-btns a.active {
  color: #15967d;
}
@media (max-width: 767px) {
  .crew-3 .title {
    margin-bottom: 35px;
  }
}
.crew-3 .members {
  display: table;
  width: 100%;
}
.crew-3 .members + .members {
  margin-top: 56px;
}
.crew-3 .members .member-wrapper {
  display: table-cell;
}
.crew-3 .members .member-wrapper:first-child + .member-wrapper {
  text-align: center;
}
.crew-3 .members .member-wrapper:first-child + .member-wrapper + .member-wrapper {
  text-align: right;
}
.crew-3 .members .member {
  width: 270px;
  display: inline-block;
}
.crew-3 .members .photo-wrapper {
  width: 270px;
  height: 220px;
  position: relative;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #ecf0f1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.crew-3 .members .photo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background: 50% 50% no-repeat;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.crew-3 .members .photo img {
  display: none;
}
.crew-3 .members .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  line-height: 220px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.crew-3 .members .overlay [class*="fui-"] {
  font-size: 46px;
}
.crew-3 .members .name {
  position: absolute;
  left: 19px;
  bottom: 19px;
  color: #fff;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.14em;
}
.crew-3 .members .member:hover .photo-wrapper {
  background-color: #1abc9c;
}
.crew-3 .members .member:hover .photo {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.crew-3 .members .member:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 979px) and (min-width: 768px) {
  .crew-3 .members .member,
  .crew-3 .members .photo-wrapper {
    width: 230px;
  }
}
@media (max-width: 767px) {
  .crew-3 .members {
    display: block;
    width: auto;
  }
  .crew-3 .members .member-wrapper {
    display: block;
    text-align: center!important;
  }
  .crew-3 .members .member-wrapper + .member-wrapper {
    margin-top: 56px;
  }
}
@media (max-width: 767px) {
  .crew-3 h3 {
    text-align: center;
    margin-bottom: 25px;
  }
  .crew-3 .title {
    text-align: center;
    line-height: 23px;
    margin-bottom: 35px;
  }
  .crew-3 .social-btns {
    display: block;
  }
}
/**
 * Crew 4 stylesheet  
 * */
.crew-4 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.crew-4 h3 {
  margin: 0 0 73px;
  font-size: 30px;
  text-align: center;
  font-weight: 300;
}
.crew-4 .members {
  display: table;
  width: 100%;
}
.crew-4 .members + .members {
  margin-top: 80px;
}
.crew-4 .members .member-wrapper {
  display: table-cell;
}
.crew-4 .members .member-wrapper:first-child + .member-wrapper {
  text-align: center;
}
.crew-4 .members .member-wrapper:first-child + .member-wrapper + .member-wrapper {
  text-align: right;
}
.crew-4 .members .member {
  width: 265px;
  display: inline-block;
}
.crew-4 .members .photo-wrapper {
  width: 265px;
  height: 180px;
  position: relative;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #ecf0f1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.crew-4 .members .photo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background: 50% 50% no-repeat;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.crew-4 .members .photo img {
  display: none;
}
.crew-4 .members .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  line-height: 180px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.crew-4 .members .overlay a {
  margin: 0 8px;
  display: inline-block;
  color: #ffffff;
}
.crew-4 .members .overlay a:hover,
.crew-4 .members .overlay a:focus,
.crew-4 .members .overlay a.active {
  color: #e3e7e8;
}
.crew-4 .members .overlay [class*="fui-"] {
  font-size: 36px;
}
.crew-4 .members .info {
  font-size: 14px;
  color: #95a5a6;
  margin-top: 36px;
  line-height: 1.4;
  text-align: left;
}
.crew-4 .members .info b {
  color: #7f8c8d;
}
.crew-4 .members .name {
  color: #1abc9c;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 14px;
}
.crew-4 .members .contacts {
  color: #7f8c8d;
  font-weight: 700;
  border-top: 2px solid #ebedee;
  margin-top: 13px;
  padding-top: 15px;
}
.crew-4 .members .contacts a {
  color: #7f8c8d;
}
.crew-4 .members .contacts a:hover,
.crew-4 .members .contacts a:focus,
.crew-4 .members .contacts a.active {
  color: #95a5a6;
}
.crew-4 .members .member:hover .photo-wrapper {
  background-color: #1abc9c;
}
.crew-4 .members .member:hover .photo {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.crew-4 .members .member:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 979px) and (min-width: 768px) {
  .crew-4 .members .member,
  .crew-4 .members .photo-wrapper {
    width: 230px;
  }
}
@media (max-width: 767px) {
  .crew-4 .members {
    display: block;
    width: auto;
  }
  .crew-4 .members .member-wrapper {
    display: block;
    text-align: center!important;
  }
  .crew-4 .members .member-wrapper + .member-wrapper {
    margin-top: 80px;
  }
}
